[2015-08-24 08:18] japhex commented on #351
@jacobwgillespie - absolute legend! Thanks man, works fine now. That's such a silly error!

[2015-08-24 08:31] Seblirium commented on #351
@jacobwgillespie <https://github.com/jacobwgillespie> - Thank you; working
as expected now.

On Mon, Aug 24, 2015 at 9:19 AM Jamie Lawrence <notifications@github.com>
wrote:

[2015-08-24 09:16] emvavra commented on #351
@jacobwgillespie many thanks for the build! :+1:

[2015-08-24 14:06] Yurtledaturtle commented on #351
@jacobwgillespie Thanks a bunch!

[2015-08-24 14:24] benmeroff commented on #351
@jacobwgillespie You rock, great fix!

[2015-08-24 14:25] benburton commented on #351
Thanks @jacobwgillespie :+1:

[2015-08-24 14:55] mlmilliman commented on #351
Thanks so much @jacobwgillespie! Great catch and quick fix for @kbhomes. I made an applet from Chrome as a temporary workaround, but it opens another instance of Chrome, consumes too much memory, and doesn't integrate with OS X as well especially with the media keys and notifications.

[2015-08-24 16:57] Teumer commented on #351
@jacobwgillespie much appreciated

[2015-08-24 18:22] Schrobie commented on #351
@jacobwgillespie nice work!

[2015-08-24 18:38] mkotb commented on #351
@jacobwgillespie +1 tyvm, works perfectly!

[2015-08-24 18:45] DotTheI commented on #351
@jacobwgillespie Thank you!

[2015-08-25 02:53] dustincoates commented on #351
@jacobwgillespie This is fantastic, thanks!

[2015-08-25 07:00] chroust commented on #351
@jacobwgillespie Thank you, working perfectly!

[2015-08-25 15:02] JustinTBrown commented on #351
@jacobwgillespie Many thanks!!!

[2015-08-25 15:50] FezVrasta opened #353 "Add support for bookmarks?"
Ok I'd like bookmarks because seems like there's not a way to star artists, so I think it would be nice to have a bookmark system to save specific play music pages (the pages of the artists).

what do you think?

[2015-08-26 01:54] kdschaffe commented on #351
I'm a little late to this party but the dropbox link is giving me a 500 error. Any help would be great. Thanks for the quick fix!

[2015-08-26 04:27] jadengore commented on #351
@kdschaffe I just tried it and it worked... I'll upload a mirror for you

[2015-08-26 04:35] jadengore commented on #351
@kdschaffe and anyone else, here's a mirror link: https://www.mediafire.com/?3tfh0av7u92ytly

[2015-08-26 04:47] kdschaffe commented on #351
Tried again and it's working.. The mirror is good too tho so thanks @jadengore. The fix is also working. Love the community!

[2015-08-26 15:26] Delallen commented on #351
Thanks @jadengore mirror download working. You saved my productivity.

[2015-08-26 21:50] josejulio commented on #351
Thanks!

[2015-08-27 11:58] kitze commented on #351
@jadengore  @jacobwgillespie thanks guys!

[2015-08-27 19:32] jacobwgillespie commented on #351
No problem, happy to help!  Added https://mega.nz/#!L4lxSJZa!LyvkNSmoGnUtGisxNdEBtQq2Hg17C1QUYgFryDQkk2Y as a mirror as well in case Dropbox keeps acting up.

[2015-08-28 12:09] chrismou commented on #351
(Y) Cheers dude, much appreciated. Had no idea how much I'd got used to pausing/skipping songs using the keyboard controls!

[2015-08-28 14:04] arondraper opened #354 "Albums not showing all tracks"
Since yesterday all my albums on Google music when using Radiant Player 1.4.0 are missing tracks.  Some albums are missing one or two tracks but most are now only showing a few of the tracks form that album.

If I load up the same album via my web browser (chrome in this example) then all the tracks are displayed.

I tried deleting Radiant player and re-downloaded, reinstalled and logged back into

[2015-08-28 16:17] mgmcgithub commented on #351
+1, the new build works perfectly for me.  Thank you.

[2015-08-28 17:07] jadengore commented on #351
@chrismou You can use your keyboard controls  in Chrome as well using [Prime Player](https://chrome.google.com/webstore/detail/prime-player-for-google-p/npngaakpdgeaajbnidkkginekmnaejbi?hl=en), it's not exclusive to Radiant. In the future we might have to switch to this solution anyways if @kbhomes does not continue support for this app.

[2015-08-28 17:10] chrismou commented on #351
@jadengore I'm sure he's just a bit busy with real life at the moment.

And if not, the joy of open source is any of us can continue its development ;-)

[2015-08-28 17:12] mfkp commented on #351
@chrismou @jadengore I've been using [Stream Keys](http://www.streamkeys.com/), same purpose, been working well.

[2015-08-28 17:26] jadengore commented on #336
Radiant Player has always had pretty heavy memory usage, but it's becoming unbearable in 1.4.0. Plus with the rollback of @jacobwgillespie's fix, it seems that a lot of these issues might not be fixed for a while.

[2015-08-28 17:30] dodgepong commented on #336
Peronsally I had to switch back to just using a normal browser window + Key Socket Media Keys extension so I could use my keyboard media keys with it. Radiant Player is completely unusable for me on a system where system resources are at a premium.

Honestly I'm started to get tired of there being no good desktop player for Google Music, temping me to move to Spotify, which I'd rather not do.

[2015-08-28 19:45] JustJenFelice commented on #351
@jadengore @jacobwgillespie  thanks so much for this - been suffering for days.

[2015-08-30 03:10] rwoodpecker commented on #354
+1

[2015-08-30 10:49] afunix commented on #351
Are there any plans to release an official build? @kbhomes ?

[2015-09-01 21:36] chapmanc commented on #189
Would also really appreciate this :)

[2015-09-02 17:07] shawn-mitch commented on #354
+1 I've had this happen to me as well. It seems like it's semi-random, as it's usually the same albums that are missing songs, but the songs missing change.

[2015-09-02 20:14] geddski commented on #351
had same issue. Using the temp build shared above. Thx

[2015-09-03 14:17] chrismou opened #355 "When liking a track (thumbsup), it passes the current playing track to last.fm"
I've noticed that hitting thumbsup next to a track seems to submit the current playing track to last.fm, rather than the song you actually liked.

I'd not noticed this before, but since the last.fm rebuild a bug in the api seems to be allowing duplicate loved tracks (which then subsequently all disappear when you delete one of them).

I've filed a bug with last.fm to fix the dupe issue, but I assu

[2015-09-09 00:30] yanismydj commented on #351
shout out to @jacobwgillespie for the fix! thanks!

[2015-09-10 06:55] serginator commented on #336
As @martinlauer stated in #328, if you disable the option `Show mini player in menu bar` improves a bit the situation, but there's still the memory leak

[2015-09-13 12:14] taolmsted commented on #351
I've also been experiencing the issue the OP described.  Thanks for the temporary fix!

[2015-09-14 00:58] #333 closed

[2015-09-14 00:58] #340 closed

[2015-09-14 00:58] #351 closed

[2015-09-14 05:33] jadengore opened #358 "1.4.1 binary to address #351"
@kbhomes Thank you for merging #352 to get #351 closed. When can end users expect a `1.4.1` binary to address the issues in #351 without having to download a patched older beta binary?

[2015-09-17 03:57] rwoodpecker commented on #358
... In the meantime, it's very straightfoward to compile your own using xcode.

[2015-09-17 06:18] jadengore commented on #358
@rwoodpecker Not everyone knows how to do that. I also tried to compile Radiant with Xcode and it didn't work for me. It would just be helpful to see that integrated for the end user's sake.

[2015-09-17 06:34] rwoodpecker commented on #358
Definitely agree. I can upload a compile a binary of the latest code, if people are interested while we wait for @kbhomes to do release his own.

[2015-09-17 15:38] rlbaxter opened #360 "Music not playing, strange white rectangle in bottom-left"
I am running OSX 10.10.5 and I have flash installed. I have Radiant Player version 1.4.0. When I open the app I get a weird white rectangle in the bottom left. I can interact with the app, selecting songs, albums, or radio stations, but no audio plays when I click play. See screen shot.

Also I have opened the google web app in the latest version of chrome and safari and I do don't experience the

[2015-09-17 16:04] rlbaxter commented on #360
Did some more research and found issue #318 but I'm on the latest version of everything and still having the issue. Here is the console output: https://gist.github.com/rlbaxter/a7c9c9469c98bc031b71

[2015-09-18 04:32] gasperk commented on #358
@rwoodpecker please do.

[2015-09-18 05:15] rwoodpecker commented on #358
@gasperk Give this a shot https://www.dropbox.com/s/fhep4abttrim1or/Radiant%20Player.zip?dl=1 Was compiled on Xcode 7 on El Capitan GM, fingers crossed it works.

[2015-09-18 08:55] dan-delaney commented on #358
@rwoodpecker working for me on El Capitan.  Thanks.

[2015-09-18 13:27] abrammer commented on #360
Isn't this the same as #351 and #352 and #358 ?  There is a compiled version linked in #358.  Otherwise I think the solution for now is to build it yourself from the source code.

[2015-09-18 14:05] rlbaxter commented on #360
Indeed it is. Thanks. Didn't see those in my search, I apologize for creating duplicates.

[2015-09-18 14:05] #360 closed

[2015-09-18 16:54] rlbaxter commented on #358
@rwoodpecker Working for me on Yosemite. Thank you for this.

[2015-09-18 17:05] gasperk commented on #358
@rwoodpecker works for on Yosemite as well. Thanks!

[2015-09-22 10:26] lauritz-it-operations commented on #358
Super! Was having the same problems. This build solved it!

[2015-09-22 14:38] Teumer commented on #358
@rwoodpecker much appreciated, thank you

[2015-09-22 16:48] nicolaspy commented on #358
@rwoodpecker Thank you! Worked for me on Yosemite!

[2015-09-22 16:49] nicolaspy commented on #351
@jacobwgillespie Thanks much!

[2015-09-22 19:17] aloven commented on #358
@rwoodpecker Awesome work, thank you.

[2015-09-22 21:03] chamunks opened #362 "Fresh install will not play."
# Will not play just sits and spins.
![http://i.imgur.com/EjKHVnx.png](http://i.imgur.com/EjKHVnx.png)

## Screenshots of versions of relevant things.
This includes a screenshot showing RadiantPlayer failing to play and its version along with Yosemite and its version and Safari and its version.
![http://i.imgur.com/AvtQx6P.png](http://i.imgur.com/AvtQx6P.png)

If you need any more information plea

[2015-09-22 21:05] chamunks commented on #362
Also note the strange white box in the first screenshot its not some strange method of me censoring something its just floating there.

[2015-09-22 22:04] jywll opened #363 "any update before elcap?"
crashes on launch.
Thanks

[2015-09-23 01:21] italobarboza commented on #362
Same problem here.
![captura de tela 2015-09-22 22 20 33](https://cloud.githubusercontent.com/assets/1903833/10036070/33ab3170-6178-11e5-854e-ba0713cd6501.png)

[2015-09-23 02:52] PIONNIER commented on #362
Same here. Floating white box and not playing.

[2015-09-23 10:09] TheGorlie commented on #362
Same here with OS X Yosemite 10.10.5.

[2015-09-23 15:14] justiceamoh commented on #362
Same here, OS X Yosemite 10.10.5

[2015-09-23 15:15] ericnorris commented on #362
@chamunks, seems like that is probably due to #351. You'll either have to wait for @kbhomes to close #358 and/or release a new binary including the fix, or build it yourself from source (or trust someone else's build).

[2015-09-23 15:31] justiceamoh commented on #362
@ericnorris, you're right. thanks! I used the binary from @jacobwgillespie on #351 and that works fine. It's been merged in #358 so I guess compiling from that source should work too.

[2015-09-23 17:37] chamunks commented on #362
Yes I can confirm that one of the downloads from #351 linked works.  I am so happy to finally ditch having to run a browser 24/7 just to listen to music.  I really hope this gets merged asap.

[2015-09-24 14:15] EnderShadow commented on #358
@rwoodpecker Works for me as well. Thanks!

[2015-09-29 19:24] krisdestruction commented on #336
I think this issue is actually reported in #308

[2015-09-29 19:25] krisdestruction commented on #308
Issue still occurs in 1.4.0
![screen shot 2015-09-29 at 3 22 51 pm](https://cloud.githubusercontent.com/assets/1440068/10175667/48caba26-66be-11e5-81cf-8ac0b77183b3.png)

[2015-09-30 10:01] spoulin commented on #358
HUrray to you.. it work again. Thanks!

[2015-09-30 15:03] emvavra opened #364 "Tabs (Artists, Albums, Songs,..) in "My Library" missing"
Since a couple of weeks I'm not able to the tabs: Playlists, Stations, Artists, Songs and Genres anymore.
The whole menu bar is simply missing:
![radiant_bug_1](https://cloud.githubusercontent.com/assets/1049868/10196596/fc2f40d4-6793-11e5-8e57-d174223dd0a5.png)
This is what it looks like in the browser:
![screen shot 2015-09-30 at 16 58 00](https://cloud.githubusercontent.com/assets/1049868/10196

[2015-09-30 20:13] pardom commented on #344
Still crashing in the App Store version of El Capitan released today:

[code]

[2015-10-01 03:11] aaronbwcollins commented on #358
@rwoodpecker Thanks Man!

[2015-10-01 08:47] dmsabath commented on #342
Player stopped to play at the end of August.
No replies from owner.

[2015-10-01 10:03] jadengore commented on #342
@dmsabath Did you check out #358 for a patched binary?

[2015-10-01 16:00] cbass717 commented on #362
I have the same exact issues on both 10.11 and 10.11.1. I have uninstalled and reinstalled both Flash and Radiant Player, but nothing seems to fix these issues.

[2015-10-01 19:21] chamunks commented on #362
Just switch to a fork thats maintained really.

[2015-10-02 19:44] dmsabath commented on #342
it helped
thanx a lot

чт, 1 окт. 2015 г. в 13:03, Edward Bramanti <notifications@github.com>:

[2015-10-02 19:47] dmsabath commented on #358
yaaaaaahoooooo
it works after 2 months of using ugly google chrome player

[2015-10-04 14:01] tmarkovich opened #365 "Radiant Player interface has white box over control panel"
Not sure what's going wrong. This is a fresh binary and when I start it up, I get the following interface. Any suggestions?

![screen shot 2015-10-04 at 9 57 23 am](https://cloud.githubusercontent.com/assets/339699/10268183/dc608fae-6a7e-11e5-9007-84c2ba689e26.jpg)

[2015-10-04 15:58] jacobwgillespie commented on #351
Pushed an updated build with El Capitan support as well here: https://github.com/jacobwgillespie/radiant-player-mac/releases/tag/v1.4.0.  As before, switch to 1.4.1 as soon as @kbhomes pushes a new build.  Cheers!

[2015-10-04 15:59] jacobwgillespie commented on #358
In case anybody needs it ASAP, I've pushed an updated build with El Capitan support here: https://github.com/jacobwgillespie/radiant-player-mac/releases/tag/v1.4.0.  As before, as soon as @kbhomes gets 1.4.1 out, switch to that.  :)

[2015-10-04 16:00] jacobwgillespie commented on #365
This is a duplicate of #351 - the fix has been merged into master and we're waiting on a 1.4.1 release.  If you need this fixed ASAP, there's some links to temporary builds at #351.

[2015-10-04 16:02] jacobwgillespie commented on #363
It's been fixed in master - if you need a temporary build until 1.4.1 is out, you can build yourself or I built a copy of 1.4.0 with the fixes at https://github.com/jacobwgillespie/radiant-player-mac/releases/tag/v1.4.0 that I'm using (though definitely update to 1.4.1 after it comes out).

[2015-10-04 16:04] jacobwgillespie commented on #362
Fixes for this and for El Capitan have landed in master but haven't been released yet.  I've pushed an update of my 1.4.0 build with the fixes to https://github.com/jacobwgillespie/radiant-player-mac/releases/tag/v1.4.0 if you're interested.  As before, update to 1.4.1 once it's out.  :)

[2015-10-04 16:06] jacobwgillespie commented on #344
`master` is working for me on El Capitan.  If you want to test, here's my personal build of the latest master (from a few minutes ago): https://github.com/jacobwgillespie/radiant-player-mac/releases/tag/v1.4.0

[2015-10-04 19:55] cbass717 commented on #362
Thanks for the help guys, Jacob I used your build and it works great. Good to be using this app again. Cheers.

[2015-10-04 20:14] jywll commented on #363
far out. Yes, your version works. Will grab the new version when available.
Thanks for that

[2015-10-04 20:14] #363 closed

[2015-10-05 13:58] pardom commented on #344
@jacobwgillespie Awesome, thanks. I noticed the commit that fixes it, but didn't want to try building it.

[2015-10-06 08:04] okvs commented on #358
Does anyone have any idea why it is taking so long to get out a new binary? It's a complete showstopper of a bug. It was reported a month and a half ago, and the fix was merged over three weeks ago. Is it a lot of work to get it out, or has this project been abandoned?

[2015-10-06 20:29] jadengore commented on #358
I think developers who are interested in maintaining Radiant should consider moving the project into an organization, so we can get pull requests merged faster and make it easier to get distributed versions into the hands of end-users. @kbhomes has done great work, but we need more than one maintainer for an app with this much popularity.

[2015-10-07 04:16] realgeek opened #366 "libre.fm support?"
I just dumped all my plays from last.fm and imported to libre.fm. Any chance to support it?

[2015-10-07 07:06] okvs commented on #358
I guess some sort of clarification from @kbhomes would be helpful. If he cannot keep working on this project then him saying so could get the ball rolling. Because of the radio silence, everyone is just going around saying that any day now, the new binary will be out, and things will be back to normal. That may not be the case.

This is a really great app, but right now it is completely broken. An

[2015-10-07 09:36] ameraljovic opened #368 "Last.fm integration not working on El Capitan"
When trying to authorize my Last.fm account I just get a message: Unable to login to Last.fm.
I use version v1.4.1.

[2015-10-07 09:45] ameraljovic commented on #368
It seems that this is a issue only on the newest version. With v.1.4.0 it works.

[2015-10-07 12:20] FezVrasta opened #369 "Queue messed up on latest release"
![image](https://cloud.githubusercontent.com/assets/5382443/10337201/7fe3a658-6cfe-11e5-8e31-8b85bc03d4ec.png)

We should probably use less specific selectors to avoid such problems on every Play Music update

[2015-10-07 12:38] FezVrasta commented on #369
Or better, we may copy the entire CSS of Google Play Music and replace colors with the ones we want. In this way on every update the CSS will be automatically updated.
(we should still support custom CSS to allow to edit other stuff manually)

[2015-10-07 17:06] jadengore commented on #358
@okvs Most people would not know this unless you look through lists of issues. We need a group of maintainers in order to keep a constantly changing wrapper like this up-to-date.

[2015-10-07 17:10] JustinTBrown commented on #369
+1 on this issue. Am experiencing this on both v1.4.1 as well as the v1.4.0 patch done previously by @jacobwgillespie. Both default Google theme and black theme are affected.

[2015-10-08 14:42] nivong commented on #368
Same here

[2015-10-08 16:07] jrmehle opened #370 "Clicking on album title in Recent Activity reloads interface"
This issue was present in 1.4.0 and 1.4.1. Clicking on the name of an album in the Recent Activity section reloads the entire web app inside of the window.

[2015-10-08 18:24] jadengore commented on #358
@kbhomes Thank you for finally fixing this issue, however I do think we need more discussion about adding other collaborators to this project to address issues quickly. Closing for now.

[2015-10-08 18:24] #358 closed

[2015-10-08 18:24] jadengore commented on #365
@tmarkovich 1.4.1 binary is out, check for updates. See if that works so we can get this issue closed.

[2015-10-08 18:30] jadengore opened #371 "Adding collaborators to project for timely updates"
I started this conversation in #358, but I want it to continue.

As can be seen for the past 2 months, there's been an influx of issues with the infamous "white box" ( #365, #360, #351). Many have had to resort to looking through Github issues for help even though @jacobwgillespie had a quick-fix (#352) PR for the issue for a good while.

@kbhomes Would you be willing to add some collaborators to

[2015-10-08 22:39] jacobwgillespie commented on #371
My thoughts are that first and foremost this is @kbhomes's baby, so I'll defer to whatever he wants.

That being said, I think it would be awesome to move this to an org (maybe @radiant-player? it's available) and add some contributors.  On that front, I'd be happy to help as I can, though I'm not super familiar with Mac development.  I could definitely help with updates related to the HTML / CSS

[2015-10-09 02:32] benburton commented on #371
I've been using this application 8+ hours a day well before it was renamed Radiant Player from Google Music Player. It's been my primary music player for a very long time.

In the past year or so, I've found myself pulling PR branches and compiling from source to get around issues that have outstanding fixes. I would definitely welcome some other contributors to pick up the slack when @kbhomes doe

[2015-10-09 13:00] spoulin commented on #358
I don't know if it's only me, but now I can't authorize my last.fm user.

[2015-10-09 15:25] MarshallOfSound commented on #316
@mew351 Try out my desktop player
https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-

[2015-10-09 15:45] chrismou commented on #358
@spoulin No, same. Not scrobbling, so deauthorized and now it won't let me authorize again.

Am going to go through the old issues and see if any of the compiled versions linked to from dropbox are working.

[2015-10-09 15:45] tmarkovich commented on #365
Fixed.

[2015-10-09 15:46] chrismou commented on #368
(Y) Same

@ameraljovic Which 1.4.0 version are you using?  The official binary has the issue with the white box in the bottom left and all the songs skipping.

[2015-10-09 17:02] twolfson commented on #316
@MarshallOfSound As a heads up, I wrote `google-music.js` which abstracted/tested/normalized the work in Radiant before the material redesign. Then, after the material redesign we tested/normalized even more.

https://github.com/twolfson/google-music.js

[2015-10-10 08:04] ameraljovic commented on #368
@chrismou Yes, the official binary v1.4.0.

[2015-10-11 20:44] jacobwgillespie commented on #362
1.4.1 has been released and should fix this issue - @chamunks, can you check and close if it's working?

[2015-10-12 00:05] chamunks commented on #362
Confirmed for me yes, it also works as promised on El Capitan.

[2015-10-12 00:05] #362 closed

[2015-10-12 04:34] jadengore commented on #371
@jacobwgillespie @benburton :+1:, thank you for your responses.

I think that if we don't move this to either an organization or open the floor to contributors who want to perform code review/PR merge/timely updates, this project will die.

However, that might not be a bad thing. @jacobwgillespie pointed out that the rise of Electron could bring a Google Play Music player that is truly cross-platf

[2015-10-12 18:35] patrickhpan commented on #368
+1 for broken on 1.4.1, El Capitan.

[2015-10-13 15:02] laurentiuonac commented on #225
+1 for this :+1:

[2015-10-13 17:30] laurentiuonac commented on #299
:+1:

[2015-10-13 19:22] shawn-mitch commented on #371
This is just my two cents, but I don't think that this project will live on much longer unless something changes. It seems to me that @kbhomes doesn't have the bandwidth and/or interest in the project that is needed to be the sole contributor on a project that is subject to Google's frequent code changes.

I see three different possibilities for the future of this project. 1) @kbhomes adds more co

[2015-10-13 22:19] oliverh72 opened #372 "Many issues on El Capitan"
There's so many, it's hard to list. This is v1.4.1 - sorry if the below is not specific. This is mostly a referral to the older fork, which I recommend using as it seemingly has less issues.

- interface refreshes when clicking on song title in queue
- blank screen when viewing album or playlist
- mini player doesn't update consistently

This fork w/fixes of 1.4.0 works MUCH better on El Capitan i

[2015-10-14 14:45] temnoregg opened #373 "Broken Black theme"
Song listing row background is white instead of dark

![White background](https://dl.dropboxusercontent.com/u/6562716/Screen%20Shot%202015-10-14%20at%2016.41.21.png)

[2015-10-14 16:53] shawn-mitch commented on #373
I've noticed this too

[2015-10-14 17:24] shawn-mitch commented on #373
I've fixed the CSS. Until I create a pull request and it gets merged, you'll have to manually change the CSS file. Replace /Applications/Radiant Player.app/Contents/Resources/css/spotify-black.css with the file located here: https://dl.dropboxusercontent.com/u/11595858/spotify-black.css

[2015-10-14 18:40] JustinTBrown commented on #373
This did the trick - Thank you @shawn-mitch.

[2015-10-14 19:30] nivong commented on #368
Still broken on 1.4.1 and the 1.4.0 patched

[2015-10-15 09:12] emvavra commented on #364
fixed in v1.4.1.
Please close

[2015-10-15 22:32] IanMcNelly commented on #373
Confirmed, fix works @shawn-mitch

[2015-10-16 08:43] planetmadness opened #375 "Make navigation with arrow keys optional"
I really like Radiant Player. I use it while working, the problem however is that I use a lot of different workspaces for working. Half the time I switch workspaces my songs get skipped or rewinded. That's pretty annoying. I want to use the dedicated media buttons (F7, F8 and F9) only. Please make the < > arrow music navigation optional.
Thanks in advance!

[2015-10-16 17:08] dcp3450 opened #376 "Black layout styling needs adjustment on album view"
Looking at an album using the black layout the tracks are the wrong color and can only be seen when hovered over or playing.
<img width="1068" alt="player-error" src="https://cloud.githubusercontent.com/assets/408527/10548184/f13d2784-7406-11e5-805d-109f0db8ed1d.png">

[2015-10-16 22:57] stevenla commented on #335
with stuff [like this happening on a monthly basis](https://helpx.adobe.com/security/products/flash-player/apsa15-04.html), adding proper html5 support would be amazing.

[2015-10-19 03:21] megalithic commented on #224
So, I recently created shell script that i run as part of my tmux status, so that it displays trackname - artistname when playing, or "paused" when paused, or nothing at all, when stopped or closed.

Check it out:
https://gist.github.com/cd957de7c6905e8bb2c3

[2015-10-19 03:22] megalithic commented on #282
hey, awesome! i did something super similar, but for outputting to my tmux statusbar: https://gist.github.com/cd957de7c6905e8bb2c3

[2015-10-19 16:29] danjenkins opened #377 "Huge Energy Usage"
I'm seeing Radiant Player eat up energy like it's nobody's business and it's not even streaming anything right now.

<img width="912" alt="screen_shot_2015-10-19_at_17_26_12" src="https://cloud.githubusercontent.com/assets/243117/10583773/d7916796-7686-11e5-8536-111037e821f8.png">

Please let me know if there's any more info you need.

I'm running OSX 10.10.5

[2015-10-20 10:47] chrismou commented on #368
Yeah, I can't get it working on any version. 1.4.0 official I get the white box of death, 1.4.0 temp and 1.4.1 the music plays but it won't scrobble. I've reverted back to the web player for now.

I may have a go at getting it running in Xcode and see if I can see the problem, but Mac development isn't really my speciality so I'm not holding out too much hope. I did wonder if it had something to d

[2015-10-20 11:33] chrismou commented on #368
Right, I seem to have fixed it locally. It seems to be something to do with El Capitan forcing connections that are using HTTPS to be TLS 1.2. I'm not sure why that affects scrobbling, but disabling App Transport Security seems to have fixed it for me. Not sure if that's a dirty workaround or not, but I'll put in a pull request to @kbhomes and see what he thinks.

In the meantime, I've released my

[2015-10-20 11:37] chrismou commented on #368
Only thing I couldn't work out was how to change the version number, so it's trying to get me to "upgrade" to 1.4.1. Small price to pay I guess.

[2015-10-20 13:01] nivong commented on #368
Thanks for the fix @chrismou it works!

[2015-10-20 13:55] vegbrasil commented on #368
Thanks a lot @chrismou.

[2015-10-20 14:47] chrismou commented on #368
Cheers guys. I've put in a pull request here: https://github.com/kbhomes/radiant-player-mac/pull/378

[2015-10-20 17:58] IanMcNelly commented on #376
Check out issue https://github.com/kbhomes/radiant-player-mac/issues/373

Has an open PR, and a fix for the CSS in the comments if you want to patch it yourself

[2015-10-20 21:23] shawn-mitch commented on #377
During normal use, I'm seeing (what I think is) normal energy impact, around 10-15. If I click through a bunch of links and load up new pages, I can see the energy impact jump up, in some cases into the 80s. Is this the scenario you're experiencing or is Radiant just sitting idle in the background?

If Radiant is jumping this high with no user activity, can you add screenshots of the app info pane

[2015-10-21 08:17] ameraljovic commented on #368
@chrismou, works like a charms! :beers:

[2015-10-21 13:39] PaulMcAdam commented on #373
Thanks :+1:

[2015-10-21 17:10] brendonrapp commented on #370
+1, this issue has been driving me nuts.

[2015-10-21 17:17] brendonrapp commented on #366
+1, I am looking to do the same thing.

[2015-10-22 19:36] matheusdias commented on #371
https://github.com/twolfson/google-music-electron

[2015-10-22 19:37] matheusdias commented on #371
@jacobwgillespie @benburton @jadengore @shawn-mitch
https://github.com/twolfson/google-music-electron

[2015-10-22 19:39] benburton commented on #371
Thanks for the heads up @matheusdias. Will give it a look next time radiant breaks on me.

[2015-10-22 19:40] jadengore commented on #371
@matheusdias This looks cool, but it looks very Linux-focused. Radiant has some great integrations into the notification system of OS X that is useful. Also, I do like the mini-player in the status bar as well.

I'm hoping for a project that pursues Radiant's goals while maintaining its features.

[2015-10-22 19:44] jacobwgillespie commented on #371
Yep, thanks @matheusdias - I've looked into that one a bit and agree with @jadengore that it'd be awesome to have a feature-complete clone of Radiant's featureset.

[2015-10-22 19:45] matheusdias commented on #371
@jadengore The app works on Windows, Linux and OSX. I tested here on OSX ElCaptain and worked well. The project needs o visual adjusts but it is a alternative way to Radiant.

[2015-10-22 19:47] jadengore commented on #371
@matheusdias In my experience, Play/Pause media keys completely didn't work, the element in the status bar was broken/improper resolution, and the app has to be run from the command line. I find it better to just pin a tab in Chrome and use a plugin than using this app.

There are clearly other options, but I want to steer the topic back on track: we are looking to either add project collaborators

[2015-10-22 19:51] matheusdias commented on #371
@jadengore Ok. I'm a developer (Java, PHP and Ruby) and i am also available to help in this project or on another.

[2015-10-22 19:51] jadengore commented on #371
@matheusdias Thanks! :+1:

[2015-10-22 20:07] LWhitson2 opened #379 "Radiant Player Forcing Discrete GPU"
I noticed that this issue had been fixed previously, but with version 1.4.1 I am having the issue again. Whenever I start Radiant Player the discrete GPU comes on again as confirmed using gfxCardStatus. I am currently running OSX El Capitan 10.11.1.

[2015-10-22 21:14] shawn-mitch commented on #371
I agree with @jadengore. Electron would be awesome if I were still rocking Ubuntu. However, Radiant has some baked-in Mac goodness that would need to be added to Electron to put it on the same level for me.

I think we're coming to a crossroads with this project. I doubt we're going to see much input from @kbhomes from here on out. This thread has been sitting here for 2 weeks with no input from h

[2015-10-22 21:17] jadengore commented on #371
@shawn-mitch Agreed. Here's what I'm leaning towards (since no response from @kbhomes):

1. Open an organization @radiant-player like @jacobwgillespie suggested.
2. Fork kbhomes' work.
3. Add more active project maintainers to address issues.

Any thoughts?

[2015-10-22 21:18] benburton commented on #371
@jadengore Can't speak for anyone else, but that was exactly what I was thinking.

[2015-10-22 21:51] kbhomes commented on #371
The good news is that it's really great to see how many people like Radiant Player and really want it to continue, and I'm honestly very appreciative of that!

You're all right, I don't quite have the bandwidth at this moment to be a single maintainer and contributor. I think I owe you all an explanation for my absences, which is mostly because of academic commitments stemming from grad school app

[2015-10-22 21:51] benburton commented on #371
@kbhomes I believe @jadengore has already created it.

[2015-10-22 21:56] kbhomes commented on #371
@jadengore Would you be willing to transfer the @radiant-player organization to me?

[2015-10-22 21:57] jadengore commented on #371
@kbhomes Yes! I'm going to remove the fork, do you think you can move your repository there as well?

[2015-10-22 22:01] kbhomes commented on #371
@jadengore Thank you! I will transfer to the organization as soon as I figure out the correct approach to maintaining the upgrade path. Current versions link to my website and look at this repository for upgrade information and I don't want to break that just yet.

[2015-10-22 23:05] pixelass opened #380 "flash player"
There is a popup saying I need to install the latest flash player.

1. flash is installed on my machine.
2. why do you need the flash player? it's 2015

[2015-10-22 23:46] lhickin opened #381 "Media keys broken?"
I'm not sure if this was a result of some sort of update or the fact that I installed the play music extension in Google Chrome but my media keys do not work anymore.

I uninstalled the extension in chrome to stop the hijacking of my media keys but Radiant Player still won't respond to pause, previous, or next no matter whether it is the active window or not.

After uninstalling the extension iTun

[2015-10-23 09:14] planetmadness commented on #381
I have the same issue. since this morning media keys are broken. Did not even have the play music extension installed.

[2015-10-23 09:19] planetmadness commented on #373
The fix should actually be:
.material .song-row .column-content {
    background-color: **rgba(18, 19, 20, 0.98);**
}
**not**
.material .song-row .column-content {
    background-color: #000;
}

This breaks the semi-transparent design of the queue. Also it is not even the right color.

[2015-10-23 11:06] matheusdias commented on #380
@pixelass Flash Player is used by Google on GPM Page. If you open the GPM through the browser the same message will be displayed.

[2015-10-23 11:26] pixelass commented on #380
I don't think so because I use that player every day. Also read what I wrote: "flash is installed on my machine."

<img width="268" alt="screen shot 2015-10-23 at 4 26 06 am" src="https://cloud.githubusercontent.com/assets/1148334/10691486/4460ae90-793e-11e5-994a-fb8e6f0f89fe.png">

[2015-10-23 11:30] matheusdias commented on #380
Did you already check if the version is updated? Flash Player releases frequently updates.

[2015-10-23 11:42] pixelass commented on #380
It's all good. I will just not use the app if it requires me to do weekly updates of flash while Google's web version works as it is.

so "2." of my question is answered with "Flash Player is used by Google on GPM Page", Thank you.

[2015-10-23 11:50] matheusdias commented on #380
What browser you are using to open GPM?

[2015-10-23 12:02] pixelass commented on #380
Google Chrome (which ships it's own Flash version)

[2015-10-23 12:07] matheusdias commented on #380
Please check Flash Player version of Safari, on my experience that's the browser used by Radiant App. @kbhomes Can you confirm this information?

[2015-10-23 13:23] ztoben commented on #381
Also having this issue. No play music extension installed.

[2015-10-23 14:47] shawn-mitch commented on #373
@planetmadness First off, good job on noticing that. This was only meant as a temporary fix. Change here was only meant to restore functionality of the black theme. Secondly, don't be a jerk. Your fix isn't correct either. It should be

.material .song-row .column-content {
  background-color: transparent;
}

If you're going to be nit-picky about temporary fixes, you should at least check your own

[2015-10-23 15:06] vegbrasil commented on #368
Is the hotkeys not working on @chrismou's version? Or just here?

[2015-10-23 15:09] philhess commented on #381
Same issue here.  They were working fine before the latest OS X update 10.11.1
Also a refresh issue with the app,  if it locks up,  resize the window and it will be good again.

[2015-10-23 15:48] chrismou commented on #368
No, apparently not.  Doesn't seem to be working on @kbhomes's master branch either.

[2015-10-23 16:06] Dakar-A commented on #381
Same issue, on Radiant Player 1.4.1 and OSX 10.11.1

[2015-10-23 17:31] Squintz82 commented on #381
Same here OSX 10.10.5

[2015-10-23 18:19] motokochan commented on #380
Chrome auto-updates PPAPI Flash automatically. Radiant Player uses the NPAPI version of Flash, which needs to be updated manually.

Adobe released a new version of Flash that fixes some major vulnerabilities currently being exploited. Apple has updated Safari components [to require the fixed version](https://support.apple.com/en-us/HT202681), explaining the notice you are seeing.

[2015-10-23 18:22] motokochan commented on #368
The media keys are likely something with the 10.11.1 update, issue #381 is tracking that.

[2015-10-23 19:28] pixelass commented on #380
As mentioned, if this is the issue then this is not the app that I'm looking for.
IMHO this issue can be closed.

Thank you.

[2015-10-23 19:28] #380 closed

[2015-10-23 19:33] matheusdias commented on #380
@pixelass http://www.gearmusicplayer.com can be a option.

[2015-10-23 19:36] pixelass commented on #380
@matheusdias thank you very much. This is very nice of you. I will look into it.

[2015-10-23 22:32] motokochan commented on #371
At least for GitHub, references from the old repository will redirect to the new one if you do a transfer via the GH interface/site. If you just fork or push as a new repository, that won't happen. I don't have experience on the website side to know for sure what happens there, although I guess that it would be similar.

[2015-10-23 23:48] planetmadness commented on #373
@shawn-mitch never meant it as a dick move. Just seemed wrong to replace it with an less obvious but still incorrect color.
Like you said, the pull request hasn't been merged, so this temporary fix is still needed. Meaning that there's no harm in improving it.

The code you just suggested results in no visual difference. It just makes it slightly easier to change the queue background if one ever d

[2015-10-24 01:08] lhickin commented on #381
I also recently updated to 10.11.1 if that is any help

[2015-10-24 07:29] kbhomes commented on #373
I'm closing this issue because I've merged #374. Thanks @shawn-mitch and @planetmadness.

[2015-10-24 07:29] #373 closed

[2015-10-24 07:30] kbhomes commented on #376
Closing this because I've merged #374.

[2015-10-24 07:30] #376 closed

[2015-10-24 08:10] kbhomes commented on #369
This is fixed with @shawn-mitch's PR at #374.

[2015-10-24 08:10] #369 closed

[2015-10-24 08:13] #365 closed

[2015-10-24 08:13] #364 closed

[2015-10-25 01:37] megalithic commented on #381
wow, i literally have been sitting here trying furiously to get the keys working again, didn't realize others were affected.

pulled down beardedspice's source and found that they are using the SPMediaKeyTap lib, while radiant-player is not. beardedspice's works. what's also interesting, is that when both apps are loaded (a tab is loaded with google music and actively playing; and radiant player i

[2015-10-25 01:58] megalithic commented on #381
EDIT: fixed. working on getting a PR up (first time with ObjC or swift, so go easy on me). thankfully the change was in my preferred language (JavaScript). google changed their polymer (presumably?)/web component elements from `sj-icon-button` to `paper-icon-button`. cc @kbhomes

[2015-10-25 19:36] sil2 opened #383 "ChromeCast support"
great player guys! Thanks a lot!
Is there a way to add ChromeCast support please?

[2015-10-25 22:55] MarshallOfSound commented on #383
Already an issue in #299

[2015-10-26 00:38] sil2 commented on #299
+1

[2015-10-26 06:02] jadengore commented on #371
@kbhomes I'll make sure the link is maintained, if not I can always provide a PR to your personal website with the updated link if anything breaks (I think your site is open-source?).

[2015-10-26 06:42] lhickin commented on #381
Thanks man. Changed the name of the web component elements and re built it, works perfect!
I spent way too long trying to figure out what was going wrong until I read your comment

[2015-10-26 08:41] chrismou commented on #381
(thumbsup) Cheers dude, works for me

[2015-10-26 09:06] chrismou commented on #371
Am happy to throw my name into ring to help with maintenance. Always happy to help with useful open source projects where I can.

[2015-10-26 12:59] ztoben commented on #381
Works for me as well. Thank you!

[2015-10-26 14:10] jacobwgillespie commented on #371
@kbhomes, when you have a free moment, can you give the org members write access to the repos here?  I'd love to start triaging some of the backlog of issues, but it looks like we're part of the org but don't yet have access to write to the repos.  Thanks!

[2015-10-26 17:08] jadengore commented on #371
@jacobwgillespie Have I added you to radiant-player org? Yeah, we still don't have access until @kbhomes either moves the repo or adds the org as write-access capable.

It might be even smarter to just add anyone in the org with write access, that's how [Bookshelf](https://github.com/tgriesser/bookshelf) maintains write access for its contributors.

[2015-10-26 17:33] jacobwgillespie commented on #371
@jadengore - yep, thanks for the help!  We've been added, but it'll take @kbhomes to enable write access now that ownership has transferred.

[2015-10-26 19:10] philhess commented on #381
Can someone explain how I can apply this fix?  Thanks.

[2015-10-26 19:16] Squintz82 commented on #381
Is there an new app build?

[2015-10-26 19:32] megalithic commented on #381
@philhess @Squintz82 for now, y'all will have to pull the source code down and build it from my repo/branch within xcode, OR, pull the source down and make the changes in main.js yourself and build (that way you don't have to worry with using my forked repo/branch/sha).

short answer is, build it yourself until @kbhomes and team can merge in the fixes.

[2015-10-26 19:38] philhess commented on #381
Ok thats what I assumed,  Ill just wait for the merge.  Thanks and glad its fixed.

[2015-10-26 19:48] Nixon506E commented on #381
It's pretty easy to just go to the application and right click and select 'show components.'  At that point just follow the directories from resources to js and open up main.js.  Inside 'main.js' you can replace all instances of sj-icon-button with paper-icon-button.  Then just refresh the page and it should be good to go!

[2015-10-26 19:53] philhess commented on #381
Yep that was easy and works.  Thanks!!

[2015-10-26 22:48] shawn-mitch opened #385 "Google took our navigation buttons"
In the latest Google Music update, besides changing element tags which is messing with the JS and CSS, Google also took out the forward and back keys. Anyone know how difficult it would be to hack them back in? Or does someone have a better idea?

[2015-10-26 23:50] tjkirch commented on #381
Thanks megalithic and Nixon506E!  I edited main.js and s/sj-icon-button/paper-icon-button/g and I'm back in business!

[2015-10-27 00:03] jcady92 commented on #308
Still occurs in 1.4.1.  Switched to using Google Music in a Chrome tab and low and behold, my memory was reaching ~2GB for that tab after a few hours of playing.  Unless it's just a coincidence, it looks like there's a memory leak in Google Music in general.

https://www.reddit.com/r/googlemusic/comments/3n3qun/memory_leak_in_google_play_music_on_chrome_v45/

[2015-10-27 06:57] kbhomes commented on #371
Sorry guys, I didn't realize you needed to add organization members to the repository explicitly. I moved the repository to the org a few days ago since I determined that nothing would break in the transition but I'd forgotten about that, sorry!

[2015-10-27 06:59] kbhomes commented on #371
Thanks @chrismou, I'll add you to the team!

[2015-10-27 07:02] motokochan commented on #371
I generally recommend setting up things in "teams". You can have the bulk of people in a "developer" team with write access, but also have an "admin" team that has admin access to manage things. If you have one or two people you trust, it will make it a lot easier on you with management.

Also, I'd be happy to help too. I'm not too experienced in OS X development, but am fairly decent at reviewing

[2015-10-27 07:02] allejo commented on #371
Using teams is definitely the way to go :+1:

[2015-10-27 07:27] kbhomes commented on #385
This is fixed in bb13b70ac672bf82c51aa712392010461198ce13 which I just pushed, turns out it's the same issue of the tag name being changed.

[2015-10-27 07:27] #385 closed

[2015-10-27 07:28] kbhomes commented on #381
Many thanks to @megalithic! This is now fixed in master (bb13b70ac672bf82c51aa712392010461198ce13) and will be available in the upcoming release.

[2015-10-27 07:28] #381 closed

[2015-10-27 08:16] kbhomes commented on #370
I confirmed this issue a few days ago but today I am unable to replicate it... I even went back to previous versions to see if a recent commit had inadvertently fixed it, but I was unable to reproduce it. @jrmehle, @brendonrapp, can you two confirm if you're still seeing the issue?

[2015-10-27 08:17] kbhomes commented on #349
@afunix, @DotTheI: Is the crashing still an issue for you guys?

[2015-10-27 08:18] #344 closed

[2015-10-27 08:18] #314 closed

[2015-10-27 08:22] kbhomes commented on #301
Judging from the crash report, this appears to have been a failure on the part of the web engine itself and not with Radiant Player. I also can't reproduce this crash in the current version so I will be closing this for now.

[2015-10-27 08:22] #301 closed

[2015-10-27 13:56] chrismou opened #386 "CONTRIBUTING.md"
It may be worth adding a CONTRIBUTING.md file to the repo, even if it's just with a few loose guidelines on how to prepare to put in a pull request.

I know that a barrier to contributing for some devs is not being 100% versed in the language/app, and despite knowing how to fix a bug, they avoid it because they're worried about not doing it to the right standard, etc. Getting a few points down mig

[2015-10-27 15:17] jrmehle commented on #370
@kbhomes Checking again with 1.4.1, and I also can no longer produce the issue. It seems maybe Google corrected an issue on their end?

[2015-10-27 17:06] chrismou commented on #366
As a hacky workaround, take a look at this:

https://git.gnu.io/foocorp/librefm/wikis/Using_turtle

LibreFm have implemented their API methods to be exactly the same as LastFM's, so in theory pointing ws.audioscrobbler.com at the libre.fm IP should be enough for it to work (though I've not tried it myself, admittedly).

Let me know how you get on, I'd be interested to know if those instructions st

[2015-10-27 17:41] jadengore commented on #386
@chrismou :+1:, let me know what you come up with,

[2015-10-27 17:42] jadengore commented on #371
Thanks guys for this awesome discussion! Also big thanks to @kbhomes for responding and making this happen.

Closing this issue, and hopefully many more soon! :smile:

[2015-10-27 17:42] #371 closed

[2015-10-27 19:50] jacobwgillespie commented on #383
Closing as duplicate of #299

[2015-10-27 19:50] #383 closed

[2015-10-27 21:40] kbhomes commented on #386
@chrismou Absolutely, that would be wonderful!

[2015-10-27 22:41] kbhomes commented on #370
Seems that way, thanks for the confirmation.

[2015-10-27 22:41] #370 closed

[2015-10-28 00:07] motokochan commented on #386
Sounds like a great idea.

[2015-10-28 03:23] DotTheI commented on #349
@kbhomes I stopped using the player a while ago along with Google Play Music, so I can't answer the question. The last time I used the player it was working well.

[2015-10-28 06:13] afunix commented on #349
@kbhomes No, it works quite stable for now. Thank you

[2015-10-28 06:15] kbhomes commented on #349
Good to hear, thanks guys!

[2015-10-28 06:15] #349 closed

[2015-10-28 06:18] afunix opened #387 "Media keys do not work"
The media keys on Mac keyboard do not pause/play/switch tracks anymore.
I'm not sure when did it started. Probably since upgrade to El Capitan (10.11.1), or latest System Update, or the latest version of Radiant Player (1.4.1).

I don't have any idea how to debug the issue or which logs to collect.

[2015-10-28 07:59] thenitai commented on #387
Same here. Doesn't work anymore.

[2015-10-28 08:02] vincentdieltiens commented on #387
I'm still on Yosemite with 1.4.1 and had the same problem.

[2015-10-28 09:27] chrismou commented on #387
This was fixed in #381 - if you pull master and build your own binary in Xcode you can get hold of the fix immediately, otherwise it should in the next release.

[2015-10-28 09:27] #387 closed

[2015-10-28 09:41] kbhomes opened #388 "Tentative 1.5.0 Release"
@radiant-player/radiant-player-mac: I'm planning on releasing the new version 1.5.0 likely tomorrow, because it fixes the major problems including media keys (and other related bugs), CSS fixes, Last.fm support, and a far more robust update system with Sparkle. I think it would be best to get this out sooner than later, but if you have any concerns or objections let me know. :+1:

[2015-10-28 09:42] chrismou commented on #368
Fixed in https://github.com/kbhomes/radiant-player-mac/pull/378 - should be available in the next release (or by building your own binary from master, if you're feeling impatient) :-)

[2015-10-28 09:44] chrismou commented on #388
:+1: I'm spending the day running off the master branch, so I'll let you know if I come across any issues

[2015-10-28 11:21] chrismou commented on #388
Strangely, last.fm integration seems to have stopped working again on master, even with the fix in, though the binary from my bugfix branch still seems to be scrobbling OK.

Can anyone else confirm they're seeing this issue or is it just me? The Xcode console doesn't look to be reporting any errors, but nothing's showing up on my profile.

[2015-10-28 11:41] chrismou commented on #368
Hmm, still not working on master. Looks unrelated to the original issue. Reopening the ticket while I look into wtf has happened

[2015-10-28 15:07] chrismou opened #390 "Radiant unloves now playing track"
Running radiant through a web debugging proxy, I've noticed that the app seems to randomly unlove tracks multiple times (!).

This seems to get worse as it gets further down the playlist.  As the 3rd song starts, I'm seeing the following:

- It unloves the **2nd** track
- It unloves the **3rd** track **3 times**
- ~~It tells last.fm the **3rd** track is "now playing"~~ (expected behaviour)
- ~~It

[2015-10-28 15:07] chrismou commented on #388
OK, it looks like the call to the last.fm api isn't actually happening at all on the master branch. Looking at the requests through a web debugging proxy, a working build calls ws.audioscrobbler.com multiple times (see below), one of which updates the "now playing" track. On that master branch, those calls aren't made at all.

Am sifting through commits trying to puzzle out what's changed between

[2015-10-29 15:29] Delallen opened #391 "Some elements not correctly styled with the Black theme"
Within the new app v 1.4.1, some screens and elements aren't correctly styled for the black theme.

![screenshot 2015-10-29 11 24 47](https://cloud.githubusercontent.com/assets/982029/10823081/5ba35f66-7e30-11e5-93df-c8c43bcf6c27.png)

[2015-10-29 15:40] lausse commented on #391
+1

[2015-10-30 05:18] MarshallOfSound commented on #391
Hopefully part of #388

[2015-10-30 15:56] z0rc opened #392 "Enable click-through"
It's real PITA to have to click on window two times when it's out of focus. First click just focuses window without registering the action so second click is required.

[2015-10-31 16:30] jacobgraf opened #393 "Media keys not working in 10.11.1 (El Capitan)"
None of the media keys work. Doesn't matter if it's in the foreground or background. None of them seem to do anything.

Spacebar does pause and arrow keys left and right do work, but I can't get the native Mac keyboard media keys to work.

[2015-10-31 17:17] jacobwgillespie commented on #393
Google updated their element names, so we had to adjust - this has been fixed in bb13b70ac672bf82c51aa712392010461198ce13 (and subsequent commits) and should go out as part of 1.5.  Keep an eye on #388 for progress.

[2015-10-31 17:17] #393 closed

[2015-10-31 17:18] jacobgraf commented on #393
Great! Thanks man!

[2015-10-31 19:03] likeomgitznich commented on #388
Oh well that answers the question I was just about to ask! lol
Good looks man!

[2015-10-31 21:25] jadengore commented on #386
@chrismou Any update on this draft?

[2015-10-31 22:18] kbhomes commented on #388
I went ahead and released version v1.5.0 in order to get these major usability fixes out there. Thanks for the testing @chrismou, I appreciate it. We'll have to work on the Last.fm scrobbling for the next release.

[2015-10-31 22:18] #388 closed

[2015-10-31 22:18] kbhomes commented on #391
Correct! The release is out now that fixes these issues.

[2015-10-31 22:18] #391 closed

[2015-10-31 22:21] kbhomes opened #394 "Mini player on El Capitan does not update track information"
The mini player on El Capitan just needs work in general. Somehow did not catch this before the release I just pushed out.

[2015-11-01 15:06] ollien opened #395 "Moving windows on El Capitan"
Moving the window in Radiant has become a bit of a chore. Often when I drag the top, I begin selecting text within the website.

[2015-11-01 15:14] nivong opened #396 "v1.5 crash when checking last scribbled items from last.FM"
When you click on the icon on the top right (red last.fm icon) the app will crash.

[2015-11-01 15:40] chrismou commented on #396
I have a pull request in to fix this: https://github.com/radiant-player/radiant-player-mac/pull/389. Hopefully it should be sorted in the next release

[2015-11-01 18:25] chrismou commented on #386
@jadengore Been looking into this https://github.com/radiant-player/radiant-player-mac/issues/388#issuecomment-151875245 -- I'll aim to get a draft up in the next day or so

[2015-11-01 23:00] ollien opened #398 "Notifications don't display in El Capitan"

[2015-11-01 23:54] jacobwgillespie commented on #398
The JS code reporting plays is currently broken - PR #400 combined with #389 should resolve.

[2015-11-01 23:54] jacobwgillespie commented on #394
This might be related to #400

[2015-11-02 01:10] ollien commented on #398
Thanks!

[2015-11-02 10:39] chrismou commented on #395
I'm seeing a similar issue. Hardly noticeable if you move the window slowly, but as soon as you try to drag it at any sort of speed, it starts to lag and I end up with the search box highlighted

[2015-11-02 13:20] chrismou commented on #386
First draft is up: https://github.com/radiant-player/radiant-player-mac/pull/401

I'll close this issue now - feel free to post any feedback you have on the PR :-)

@jadengore @jacobwgillespie @kbhomes @motokochan @benburton

[2015-11-02 13:20] #386 closed

[2015-11-02 16:42] DefenestrateMe commented on #394
This isn't just affecting El Capitan, I'm also experiencing it on Yosemite.

[2015-11-02 17:12] schmeat commented on #396
I have also noticed that scrobbling does not seem to work with 1.5.0.

[2015-11-02 17:16] chrismou commented on #396
@schmeat This one should be fixed by https://github.com/radiant-player/radiant-player-mac/pull/400

Looks like we've had a couple of issues with the last.fm API and Google updating their web player that caused a few things to stop working. We should have these both sorted in the next release.

[2015-11-02 17:18] schmeat commented on #396
@chrismou Sounds good, thank you.

[2015-11-02 22:15] robert-barrie opened #403 "Albums and artists unresponsive after closing window"
After you hit the red 'close window' button top left, all hell breaks loose. After summoning the window back, pages appear to be frozen – album pages in particular. The 'Listen Now' pages seems to be unaffected.

[2015-11-03 07:40] saphid commented on #299
+1

[2015-11-04 09:09] planetmadness commented on #395
This is also an issue while starting Radiant, as it is always positioned in a different place than I'd like to have it, I have to wait until Radiant is fully up and running to be able to drag the window at all.

[2015-11-04 09:15] planetmadness opened #404 "Alternative Fullscreen"
Radiant currently does not have support for the alternative fullscreen style accomplished with alt/option + shift + maximize button.

[2015-11-04 12:21] FezVrasta commented on #403
I've noticed it as well, it get fixed if you resize the page (as workaround)

[2015-11-04 22:09] dmlogs commented on #394
I'm on Yosemite using 1.5.0 - controls and song position are working, but no track information in the mini player

[2015-11-04 22:11] dmlogs commented on #398
Assuming the pull requests will resolve for Yosemite as well, but thought I would log my issue as well,

no notifications are displayed for Yosemite using v1.5.0

[2015-11-06 01:48] swrobel opened #405 "Radiant Player blocking automatic restart for updates"
I've been installing the latest OS X 10.11.2 betas and each time, automatic restart is prevented by Radiant Player. It isn't playing music, just running. Anyone else seeing this behavior?

[2015-11-06 11:48] rahulh commented on #395
I have in on El Capitan that I cannot move the window at all (using 1.5.0)

[2015-11-06 15:58] imcdonagh opened #406 "Tray menu shows "No song currently playing" when a song is playing"
<img width="1171" alt="screen shot 2015-11-06 at 9 12 39 am" src="https://cloud.githubusercontent.com/assets/10691168/11003325/9f2f498e-8466-11e5-830b-505d8744e943.png">

[2015-11-06 23:35] colindean opened #407 "Resizing text inside player window"
This might be a little big of an edge case, and might be more on Google's end than on Radiant Player's. I just discovered Radiant Player about 20 minutes ago and I already love it. There's one thing that I really like about Google Music in the browser, though, that Radiant Player can't seem to do yet.

My primary use of Google Music is on the left quarter of my ultrawide 21:9 monitor, 2560x1080 pi

[2015-11-08 06:43] YungArthur commented on #406
I'm also experiencing this issue on the latest version of OS X and Flash Player.

[2015-11-08 06:48] YungArthur opened #408 "Scrolling and UI freeze Issues"
Sometimes I'm unable to scroll when using Radiant Player. It seems to happen spontaneously - although I've noticed that this issue happens when browsing "top charts" and artist pages. I'm on OS X El Capitan and I'm also using the latest version of Flash Player.

I can avoid getting stuck in this by clicking on "my library" or "new releases".

[2015-11-09 05:54] imcdonagh commented on #406
Yes that's right. I'm on El Capitan as well.

On Sat, Nov 7, 2015, 22:43 Arthur <notifications@github.com> wrote:

[2015-11-09 11:03] talfanevans commented on #406
Also experiencing this issue. Yosemite 10.10.4 (14E46)

[2015-11-09 11:10] chrismou commented on #406
It looks like this'll be sorted once https://github.com/radiant-player/radiant-player-mac/pull/400 is merged

[2015-11-09 21:10] andrewsawczyn commented on #408
Glad I'm not the only one.  Radiant has been almost unusable for me for awhile.

[2015-11-10 19:45] YungArthur commented on #406
The issue has been fixed. Thanks! :+1:

[2015-11-10 19:46] YungArthur commented on #408
Oh, we just need someone to merge then?

[2015-11-11 15:21] smackjack3 commented on #395
Same here. I'm on El Capitan and 1.5.0 and sometimes I can't move the window at all.  It seems that this is only the case when I either don't have Chrome, or I have it open but am using a different account than the one I use for my Google Music subscription.  Once I switch accounts or open another Chrome window with my personal Google account (which is what's subscribed to Google Music) then I can

[2015-11-12 06:53] jadengore opened #409 "Radiant 2 Milestone"
Radiant contributors and end-users!

This is a draft of a proposed Radiant 2 milestone. I welcome any feedback anyone has on my proposed feature goals for a Radiant Player 2.0 release.

Once again, a big thanks to @kbhomes for opening the doors to more contributors who can merge PRs, and for moving this software to an open organization model. Your contributions to this app have been huge, and we a

[2015-11-12 10:45] mohnjatthews opened #410 "App does not close/quit"
Application does not close for some reason, I have to force quit the program every time to get it to stop. This happens regardless of whether or not I'm playing music.

Running Yosemite (10.10.5) on Mid 2010 iMac 27-inch. Radiant Player version 1.5.0

To recreate the issue:
   - Open Radiant Player
   - Right click on the icon in the dock
   - Go to Options and select Keep In Dock
   - In the app

[2015-11-12 10:48] mohnjatthews commented on #405
Radiant Player seems to be having a hard time closing, even when right clicking on it in the dock and selecting quit. Force Quitting the app seems to work for now though.

[2015-11-12 15:24] akrs commented on #405
It looks like it won't respond to quitting from the dock or from the OS requesting it to from a system shutdown. However, it is still responsive and quitting from the Radiant Player menu or with cmd-Q works fine.

[2015-11-12 15:56] chrismou commented on #405
I don't have the beta, but can confirm I'm seeing this on 10.11.1.  Strangely, you don't even get a prompt to close the app - it just seems to hang. Though for me, going to the menu and selecting Quit Radiant Player seems to work OK, and shutdown happens immediately after.

[2015-11-12 16:35] Squintz82 commented on #410
I have a similar issue where I can't shut down with RP open. I have to manually close RP first.

[2015-11-12 16:40] chrismou commented on #410
For reference, this is (sort of) the same as #405.  Same issue, different scenario

[2015-11-12 16:44] Squintz82 commented on #405
Same issue on 10.11.1

[2015-11-13 02:40] rwoodpecker commented on #410
Same issue with me. Have to force quit it. Running latest El Capitan.

[2015-11-13 08:17] Primigenus commented on #409
Great work! Looking forward to seeing these land and some consistent releases happening :)

[2015-11-13 12:02] MWhyte opened #411 "Cant create playlists in radiant player"
Hi,

Firstly well done for the app its awesome.

I have noticed that I am unable to create playlists in radiant player. Attempts to create, open the create dialog box. I can click create but the playlist doesn't show in the sidebar and if I login to the google play music website the playlist isn't their either.

Inversely I can create on the google play site and reload radiant to see the playlist.

[2015-11-13 12:02] MWhyte commented on #411
Tested this on Yosemite and el captian.

[2015-11-14 04:39] crankeye commented on #410
Also getting this issue after upgrading to El Capitan. I noticed if you close after immediately starting the app before it's fully loaded it will quit fine. However once the application has loaded I am unable to close it by right clicking and going to "close". Although I am still able to close it by pressing CMD + Q.

[2015-11-16 15:21] andrevabo commented on #395
Same here. Can't move the window at all. Tried with Chrome open and closed, but nothing changes.

Version 1.5.0 running on 10.11.1

[2015-11-16 16:08] jacobwgillespie commented on #395
The app itself uses an embedded webview, which is closer to Safari than Chrome - if I get some time later today I'll take a look and see if I can find anything.

[2015-11-17 05:57] Penderworth opened #412 "Keyboard shortcut for search doesn't work"
At the moment, the keyboard shortcut for Search is not working. `⌘ F` is assigned to it, but it doesn't activate the search bar as expected. The shortcut actually doesn't seem to do anything at all.

Also, pressing the `return` key to search works as expected, but also activates the alert sound set for OS X as if something didn't work properly.

[2015-11-17 15:54] aztlan2k commented on #395
i find that i can move the window if i've clicked in another window (say a open chrome window) and then click-and-drag the radiant window. (i.e., so the radiant window gets focus and immediately starts being dragged in one action)

If I do it as separate actions (click to focus radiant window + click-drag to try and move the window) it doesn't work.

[2015-11-17 16:51] jacobwgillespie commented on #395
So, Google updated their element names again.  #413 should enable dragging as it was previously implemented.

IMO we should look at alternate implementations - two ideas for further research:

* implement something like `-webkit-app-region: drag` from Electron
* implement the app bar in native code

[2015-11-17 16:58] jacobwgillespie commented on #412
This should be fixed by #413

[2015-11-17 17:03] jacobwgillespie opened #414 "Release process"
Mainly for @radiant-player/radiant-player-mac, but let's create some docs around the release process.  Who does releases, when can they happen, are we signing builds, etc.  This probably specifically involves @kbhomes.  I'd vote for a `docs` folder with a `RELEASE.md` that describes what has to happen.

[2015-11-17 17:09] jadengore commented on #409
@radiant-player/radiant-player-mac ping

[2015-11-17 19:41] #412 closed

[2015-11-18 15:47] fousheezy commented on #239
+1

[2015-11-19 10:42] chrismou commented on #285
Fixed in https://github.com/radiant-player/radiant-player-mac/pull/378

[2015-11-19 10:42] #285 closed

[2015-11-19 10:43] chrismou commented on #368
Now fixed in https://github.com/radiant-player/radiant-player-mac/pull/400

[2015-11-19 10:43] #368 closed

[2015-11-19 10:44] chrismou commented on #396
https://github.com/radiant-player/radiant-player-mac/pull/400

[2015-11-19 10:44] #396 closed

[2015-11-19 10:48] chrismou commented on #409
Looks good to me. I couldn't say if all of this is actually possible, or if some is a limitation of the webview the app uses. Someone else may be able to answer that.

This did highlight a couple of issues that have since been fixed though, so I've closed the tickets. Mostly around last.fm scrobbling.

[2015-11-19 12:23] Qteb opened #415 "Crash while opening lanstfm button"
El Capitan

[2015-11-19 12:25] chrismou commented on #415
Fixed in master: https://github.com/radiant-player/radiant-player-mac/pull/389

It should filter through next time @kbhomes does a release. Or you can build manually from the master branch, which includes a bunch of other bug fixes

[2015-11-19 12:25] #415 closed

[2015-11-19 12:28] chrismou commented on #409
Only other thing I'd add is more keyboard shortcuts. Might be worth having a discussion on what would be useful and get them implemented. A nice quick win.

I'd be happy to take this on. The keyboard shortcut code looks fairly self explanatory, from what I can see.

[2015-11-19 22:48] andreis commented on #408
Same issue. It's just the UI freezing I guess, if you select something you can see it actually keeps working, you just don't get any feedback.

[2015-11-20 07:56] chrismou commented on #408
OK, I see this now.  I can't seem to trigger the issue, but if I leave the player open for a while (on a different workspace, but I don't know if that's relevant) the UI seems to freeze.  Although as @YungArthur says, clicking My Library seems to fix it, randomly.

Hope you don't mind, I'm doing to update the ticket title slightly to remind me of the issue.  I'll leave the app open for a while ove

[2015-11-20 09:39] nivong commented on #414
I vote for a release every week with fixes, it's still not great. And a dev/nightly branche that gets build automatically every night

[2015-11-20 09:49] chrismou commented on #414
We've been fairly efficient with pull requests and merges recently. Unfortunately, that doesn't include official "app store" releases, which @kbhomes has ultimate control over.

Perhaps an idea would be to tag after every fix, and do a Github release after. I only realised recently that you can associate releases with tags, and upload an accompanying binary.

So the process could be:

- Pull reque

[2015-11-20 15:57] alexcarruthers commented on #408
On restart of the computer, everything works smoothly.
But after a while it starts to slow down (especially next day).
And the further you go down into the menus, the worse it becomes.

[2015-11-20 16:01] alexcarruthers commented on #408
Also, looking at the suggestion made in https://github.com/radiant-player/radiant-player-mac/issues/403, resizing the window seems to bring it back to being smooth

[2015-11-20 17:37] chrismou commented on #173
Which assets in particular @kbhomes ? I may be able to blow some of the images up on Illustrator and export them in at a crazy high resolution for you to use

[2015-11-20 18:09] jacobwgillespie commented on #414
I like SemVer as well, though I'll have to think through what it means for a desktop app (i.e., what is a "breaking change" exactly).

For the release process, the app isn't in the app store (as in the Mac App Store) - it updates with the Sparkle framework, which reads from an XML file on our website (source at https://github.com/radiant-player/radiant-player-mac/blob/gh-pages/appcast/appcast.xml)

[2015-11-20 19:32] chrismou commented on #414
I think for a desktop app, I'd sway towards classing it as:

1.0.x - bug fix
1.x.0 - new feature
x.0.0 - pre-decided "milestone" release

The last one is a bit eroneous really. Its just a case of everyone saying you know what, there's a load of new features, let's call it a milestone. Like knocking off all the proposed issues on @jadengore's 2.0 milestone list, for example.

Up for debate obvs. Bu

[2015-11-23 19:00] v1nsai commented on #408
Just downloaded the app for the first time, and the scrolling is really bad.  Resizing the window has no effect.  I'm on OSX Yosemite.

Seems to use a lot of CPU too, even for a Flash app.  If there's any log files or any other way I could help fix this I'll gladly submit them.

[2015-11-23 19:08] vcao opened #419 "Can't move window"
Can't drag window around and move it around the desktop. Version 1.5

[2015-11-23 21:56] jacobwgillespie commented on #419
This is fixed in #413 and should go out on the next release.

[2015-11-24 01:14] stevenla opened #420 "last.fm not scrobbling"
This isn't working for me on OSX 10.10.5 Radiant 1.5.0.

Will try to dig up some logs or something later

[2015-11-24 01:21] jacobwgillespie commented on #420
This is fixed by #389 and #400 which should go out on the next release

[2015-11-24 04:09] niffyat opened #421 ""Listen Now" overlap in header + search area"
The "Listen Now" text overlaps with the search field area. There appears to be quite a bit of empty space available though, maybe the minimum padding to the right of "Listen Now" could be adjusted?

![screen shot 2015-11-23 at 8 06 50 pm](https://cloud.githubusercontent.com/assets/887476/11357633/1124741e-921e-11e5-819a-5c1d1f40a335.png)

(also sorry if this is a dupe, i searched for "listen now"

[2015-11-24 04:41] jacobwgillespie commented on #421
I believe this has been fixed in #418 and will go out on the next release.

[2015-11-24 05:07] jacobwgillespie commented on #414
I've started to add some release docs and scripts in #416 - feel free to take a look and comment.  I'm still working and will get everything cleaned up closer to completion.

[2015-11-24 05:08] jacobwgillespie commented on #182
Closing this - the UI here is from an outdated version of the app.

[2015-11-24 05:08] #182 closed

[2015-11-24 05:11] jacobwgillespie commented on #189
I'm going to close this under the "you can set a proxy external to Radiant and it'll use it" solution, though feel free to ping back if you're still interested in something different.

[2015-11-24 05:11] #189 closed

[2015-11-24 05:11] jacobwgillespie commented on #184
Closing as this theme is outdated.

[2015-11-24 05:11] #184 closed

[2015-11-24 05:12] jacobwgillespie commented on #199
Yep, this has been resolved

[2015-11-24 05:12] #199 closed

[2015-11-24 05:12] jacobwgillespie commented on #202
This has been resolved

[2015-11-24 05:12] #202 closed

[2015-11-24 05:14] jacobwgillespie commented on #183
This applies to an older version of the UI (I think, the one with the search bar) - I'm closing, though feel free to ping if you're looking for something different.

[2015-11-24 05:16] jacobwgillespie commented on #173
@chrismou I'm guessing they're in here: https://github.com/radiant-player/radiant-player-mac/tree/master/radiant-player-mac/images.  We should go through and figure out what we're actually using here and what needs to be retina.

[2015-11-24 05:18] jacobwgillespie commented on #206
@LeGourmand I'm closing this as it's been a while and I can't replicate, but feel free to ping if it's still happening.

[2015-11-24 05:18] #206 closed

[2015-11-24 05:19] jacobwgillespie commented on #223
This has been resolved.

[2015-11-24 05:19] #223 closed

[2015-11-24 05:21] jacobwgillespie commented on #239
Duplicate of #228 - closing

[2015-11-24 05:21] #239 closed

[2015-11-24 05:21] jacobwgillespie commented on #228
Other feature request from linked issues: Airplay support

[2015-11-24 05:21] jacobwgillespie commented on #244
This refers to an older UI - closing

[2015-11-24 05:21] #244 closed

[2015-11-24 05:23] jacobwgillespie commented on #252
Oh, hey @twolfson - I think this is a great idea - I've started a PR for this at #402

[2015-11-24 05:24] jacobwgillespie commented on #247
Closing as I cannot replicate, but do ping if this is still happening.

[2015-11-24 05:24] #247 closed

[2015-11-24 05:33] jacobwgillespie commented on #264
So, I'm able to get particles working with Flash in Chrome, but since Radiant is based on Safari (and I can't get particles working in Safari), I'm going to close this for now as not possible.  Definitely a cool feature though.

[2015-11-24 05:33] #264 closed

[2015-11-24 05:34] jacobwgillespie commented on #276
Does this mean listening to TuneIn stations or scrobbling to TuneIn?

[2015-11-24 05:37] jacobwgillespie commented on #283
This has been resolved.

[2015-11-24 05:37] #283 closed

[2015-11-24 05:37] niffyat commented on #421
Awesome, thanks for the quick reply! :)
On Nov 23, 2015 8:41 PM, "Jacob Gillespie" <notifications@github.com> wrote:

[2015-11-24 05:37] jacobwgillespie commented on #290
Going to close this for now - feel free to ping if you get this working with Safari.

[2015-11-24 05:37] #290 closed

[2015-11-24 05:38] jacobwgillespie commented on #295
This is resolved.

[2015-11-24 05:38] #295 closed

[2015-11-24 05:40] jacobwgillespie commented on #306
This should be resolved - feel free to ping if you're still experiencing

[2015-11-24 05:40] #306 closed

[2015-11-24 05:40] jacobwgillespie commented on #327
Controls properly work when minimized now - closing

[2015-11-24 05:40] #327 closed

[2015-11-24 05:42] jacobwgillespie commented on #337
This has been resolved.

[2015-11-24 05:42] #337 closed

[2015-11-24 05:42] jacobwgillespie commented on #339
I'm unable to reproduce, so closing for now - feel free to ping if you're still experiencing.

[2015-11-24 05:42] #339 closed

[2015-11-24 05:42] jacobwgillespie commented on #347
This should be resolved

[2015-11-24 05:42] #347 closed

[2015-11-24 05:44] jacobwgillespie commented on #406
Closing this for now - it will go out on the next release.

[2015-11-24 05:44] #406 closed

[2015-11-24 06:09] ckcollab commented on #339
Will do, thanks for the hard work!

[2015-11-24 07:36] jadengore commented on #409
@chrismou Feel free to strikethrough addressed issues and edit my post (you should be able to I think).

@jacobwgillespie This is related to #414, if you could review my document I would really appreciate it.

@kbhomes @benburton would really appreciate your feedback as well.

[2015-11-24 15:59] floschliep opened #422 "Scripting Bridge doesn't work"
The Scripting Bridge doesn't seem to be working for the most part.

The `currentSongName`, `currentSongArtist`, `currentSongAlbum` and `currentSongArt`properties are always nil. Only `currentSongUrl`returns a value.

I encountered this issue using Radiant 1.5.0 on OS X 10.11.1.

[2015-11-24 16:05] floschliep opened #423 "No NSDistributedNotificationCenter support"
Radiant should post notifications to the NSDistributedNotificationCenter when updating its player state. Applications which access Radiant via Scripting Bridge can't detect changes to the current playing song otherwise.

[2015-11-26 12:44] chrismou commented on #173
Cool. Not sure exactly what @kbhomes had in mind - I'm on a retina macbook and it all looks fine to me, so perhaps I'm looking in the wrong place.

[2015-11-27 13:43] chrismou commented on #276
I'm closing this ticket as being beyond the scope of Radiant Player. Or at least this version.

Perhaps extending out beyond Google Music is something we could look at in the Electron version, but for now I'd like to say shelve the idea and focus on improvements.

[2015-11-27 13:43] #276 closed

[2015-11-27 13:45] chrismou commented on #409
Yep, can do! I've marked the complete / in progress ones

[2015-11-29 21:16] joshgordon commented on #379
Just noticed this same thing, and thought I'd see if I could bisect it down to a specific commit. Then I noticed something interesting...

It appears to me that when you play a video in Radiant Player, it switches to the discrete GPU, but never switches back when you stop watching the video.

[2015-11-29 22:19] jadengore commented on #409
@jacobwgillespie @kbhomes @benburton Ping.

[2015-11-29 22:23] chrismou commented on #379
I see that NSSupportsAutomaticGraphicsSwitching is enabled in info.plist, but tbh I have no idea what the implications of are that. I'll have to dig a bit deeper.

Interestingly @joshgordon, support for that was added by you back in 2014... ;-) https://github.com/radiant-player/radiant-player-mac/commit/b40033a70d0f781565fc4d66f5e8d92dc155e390

[2015-11-29 22:26] chrismou commented on #379
https://developer.apple.com/library/mac/qa/qa1734/_index.html

Interesting. What year is your Macbook @LWhitson2 and @joshgordon?

[2015-11-29 22:43] joshgordon commented on #379
I have an Early 2011 MBP, so the NSSupportsAutomaticGraphicsSwitching should have an affect. (and it does, since before I PR'd it in, it used the discrete GPU full time.)

[2015-11-30 09:22] chrismou commented on #422
Perhaps I've misunderstood, but I don't see currentSongName, currentSongArtist, currentSongAlbum or currentSongArt referenced anywhere.

There does seem to be references to currentTitle, currentArtist, currentAlbum and currentArt (https://github.com/radiant-player/radiant-player-mac/blob/master/radiant-player-mac/AppleScript/NSApplication%2BScriptingProperties.h)

Is this what you're after?

[2015-11-30 09:34] floschliep commented on #422
When generating a header from sdef file contained in the app bundle you'll get those properties.
`sdef /Applications/Radiant\ Player.app | sdp -fh --basename RadiantPlayer`

[code]

[2015-11-30 09:43] chrismou commented on #422
Sorry, I don't know much about the Scripting Bridge, hence the confusion.

Though like I say, there's literally no mention of currentSongName, currentSongArtist, currentSongAlbum or currentSongArt anywhere in the code, so I'm at a loss as to where they could be coming from.  I'd assume they should match up with the values in here: https://github.com/radiant-player/radiant-player-mac/blob/master/ra

[2015-11-30 09:57] chrismou commented on #422
OK, ignore me. It looks like the values in your sdef are just caml cased versions of the property name, as opposed to the key value, which makes sense.

AppDelegate only sets a value for currentSongURL, which could explain why that's the only value making it through.  I'm guessing the other values will need adding too.

I'll take a look at this when I get some free time - though I know little to n

[2015-11-30 10:16] floschliep commented on #422
Here's a small app to test the scripting bridge: http://d.pr/f/gKim

[2015-11-30 10:40] chrismou commented on #394
Confirmed fixed in master - should be available in the next release (or now if you fancy building from source) so closing this ticket for now

[2015-11-30 10:40] #394 closed

[2015-11-30 10:40] #421 closed

[2015-11-30 10:41] chrismou commented on #398
Confirmed fixed in master - should be available in the next release (or now if you fancy building from source) so closing this ticket for now

[2015-11-30 10:41] #398 closed

[2015-11-30 11:06] chrismou commented on #422
Ah cool, thanks for that.

So without making any changes, when I run it I see this:

![screenshot 2015-11-30 11 04 29](https://cloud.githubusercontent.com/assets/319883/11469998/3e208c08-9752-11e5-8639-10ac5709c188.png)

I let it run onto the next song and reloaded, and it seemed to update OK.

How do I recreate the issue you're seeing?

[2015-11-30 11:23] floschliep commented on #422
If I play a song I just see the URL:
![bildschirmfoto 2015-11-30 um 12 20 04](https://cloud.githubusercontent.com/assets/1427112/11470306/dba6adf4-975c-11e5-9afa-658a4258aab8.png)

[2015-11-30 11:29] chrismou commented on #422
OK cool, it looks like I'm getting the same against the 1.5.0 version, but it looks to be working against master.

Could you try it against the master branch? There's been a ton of fixes since @kbhomes last did a release.

I put up a recent build for a recent PR, save booting up Xcode: https://github.com/chrismou/radiant-player-mac/releases/download/v1.5.0-cyan/RadiantPlayer.app.zip

[2015-11-30 11:38] floschliep commented on #422
Alright, this version works. Is this release publicly available (via Sparkle) for users?
Now the only Scripting Bridge-related issue left is https://github.com/radiant-player/radiant-player-mac/issues/423.

[2015-11-30 11:45] chrismou commented on #422
No, current version is still 1.5.0.  A few of us are able to review/merge PRs, but currently only @kbhomes can do releases. It's something we're working on (https://github.com/radiant-player/radiant-player-mac/pull/416).

In the meantime, you should be safe to use that binary I sent you the link to. It's tagged at 1.5.0, so you should still get the update notification when he next does a release.

[2015-11-30 11:45] #422 closed

[2015-11-30 12:38] #420 closed

[2015-11-30 13:54] chrismou commented on #390
Confirmed, still an issue. Investigating.

[2015-11-30 14:11] chrismou commented on #390
All the extra notifications are being caused by this line: https://github.com/chrismou/radiant-player-mac/blob/master/radiant-player-mac/js/main.js#L248

Commenting out stops extra notifications, but also stops last.fm loved track notifications on thumb up

[2015-11-30 14:53] chrismou commented on #390
I think I've got it - it makes multiples calls to the api, which is rubbish but not the end of the world. The issue arises when the song moves from a loved track to an unloved track - notifySong is called with the "unloved" rating, but uses currentTitle - which isn't updated to the new song until later in the JS, which means the previous track in unloved instead of the current one.

Theoretically

[2015-11-30 15:19] chrismou opened #425 "Multiple calls to last.fm api at start of every song"
main.js calls GoogleMusicApp.ratingChanged(MusicAPI.Rating.getRating()); within a mutationObserver.

This makes several calls to the last.fm api to love or unlove the track, depending on whether it's been thumbed up or not (if you have the "love a track on last.fm when rated thumbs up" option checked).

The main issue around this has been fixed (https://github.com/radiant-player/radiant-player-mac

[2015-11-30 17:24] chrismou commented on #235
Can anyone can confirm if they're still seeing this issue?  Feel free to test using this build https://github.com/chrismou/radiant-player-mac/releases/tag/v1.5.0-cyan (up to date with master as of this morning)

@b3autykill3r @aaronortiz @smackjack3

[2015-12-01 10:31] can3p commented on #410
I also have problem with closing the app via dock menu, Mac OS X 10.10.5

Steps to reproduce:
- Open context menu
- Click on quit menu item

In my case nothing happens with the player, playback doesn't stop, application doesn't halt.

If I open player window and press cmd-q, app quits in a usual way

[2015-12-01 10:38] can3p opened #427 "OSD Dialog doesn't show currently playing song"
Hi! First of all, thanks for developing this great app!

I have a problem with displaying currently played song, nothing is shown, see the screen shot
OS: Mac OS X 10.10.5,
Radiant player 1.5.0

![screen shot 2015-12-01 at 11 33 02 am](https://cloud.githubusercontent.com/assets/125821/11498434/b7c8384e-981f-11e5-9627-c88790c50af1.png)

[2015-12-01 10:55] chrismou commented on #427
Hey @can3p - I believe this was fixed in https://github.com/radiant-player/radiant-player-mac/pull/400 and should be in the next release.

In the meantime, you can either build your own binary from the master branch, or save some time by using this version I built 2 days ago as part of a (now merged) PR https://github.com/chrismou/radiant-player-mac/releases/download/v1.5.0-cyan/RadiantPlayer.app.

[2015-12-01 10:55] #427 closed

[2015-12-01 11:08] can3p commented on #427
This build works for me, thanks a lot!

[2015-12-01 12:29] chrismou commented on #390
Fixed in https://github.com/radiant-player/radiant-player-mac/pull/426

[2015-12-01 12:29] #390 closed

[2015-12-02 03:29] zobier opened #429 "thumbs not reflected in control bar"
![image](https://cloud.githubusercontent.com/assets/1370034/11521504/e478757a-9900-11e5-8838-2851fc3492f4.png)

I expected the thumb icons in the control bar (on rollover) to reflect my likes.

v 1.5 mac

[2015-12-02 08:25] chrismou opened #430 "Hover icons not visible on dark themes"
Click into album
Hover over row

Play button and thumbs don't show, though clicking where they should be still has the desired effect

Standard Google theme seems unaffected

[2015-12-02 08:31] chrismou commented on #430
https://github.com/chrismou/radiant-player-mac/blob/master/radiant-player-mac/css/spotify-black.css#L241

Trying to puzzle out why it's been removed it before I re-enable

[2015-12-02 10:51] chrismou commented on #430
*plays css whack-a-mole for an hour*

Will need to spend some time on this, otherwise we're just going to end up with another styling regression

[2015-12-02 14:19] hico-horiuchi commented on #427
Thank you :+1:

[2015-12-03 15:46] bcardiff commented on #335
:+1:

[2015-12-04 04:49] grimtastic commented on #410
Same here. On OSX 10.11.1 and Radiant Player 1.5.0. Only happened since updating this latest version of RP. It's annoying because I will try to shut down my computer and it won't do anything until I force quit RP.

[2015-12-04 14:51] zackcote commented on #409
Not to intrude, but :+1: on all of the miniplayer ideas. I think that's what really sets this apart and is arguably the key feature.

[2015-12-04 17:46] jacobwgillespie commented on #410
Looking into this now...

[2015-12-04 17:51] jacobwgillespie commented on #410
This is the change that broke this: https://github.com/radiant-player/radiant-player-mac/compare/59a66296d07292d5cb33ef6c40fd8b0d623d6249...59461481588691300ddf8132495bff712b802367

Now just gotta figure out what that's affecting...

[2015-12-04 19:09] jacobwgillespie commented on #350
I'm not super familiar with AppleScript - can you give some steps to reproduce?

[2015-12-04 19:11] jacobwgillespie commented on #310
I'm going to close this one for now as the original issue appears to be fixed.  Feel free to ping back or create a new issue if anything crops up again.

[2015-12-04 19:11] #310 closed

[2015-12-04 19:14] jacobwgillespie commented on #298
So, from what I can tell, the app is currently totally opaque, so I'm not sure if we still need this issue (since it doesn't look like we're doing transparency anymore).  I'm going to close this as part of issue cleanup, but feel free to ping if you'd like this to be re-investigated.

[2015-12-04 19:14] #298 closed

[2015-12-04 19:16] jacobwgillespie commented on #429
Yep, I can confirm this one - we need to see if this is an issue with our custom CSS or with Google's webcomponents.js in webkit.

[2015-12-04 19:26] jacobwgillespie commented on #409
LGTM - I'll review the PRs in a bit to see if there's anything I can strikethrough.

Should we make this an official GitHub milestone?

[2015-12-04 20:10] jacobwgillespie commented on #410
There's a fix in #432 - should be merged soon.

[2015-12-04 20:30] chrismou commented on #350
Hey @TheRealGitCub - I'm not 100%, but could this be a similar issue as reported here: https://github.com/radiant-player/radiant-player-mac/issues/422 ?

If so, could you try against a build from the master branch and see if the issue is still there?

I put up a recent build for a recent PR if you prefer, save you booting up Xcode: https://github.com/chrismou/radiant-player-mac/releases/download/v

[2015-12-04 20:52] chrismou commented on #411
Dump of console when clicking to create a playlist:

[code]

After clicking create:
[code]

[2015-12-04 21:07] #186 closed

[2015-12-04 21:07] #405 closed

[2015-12-04 21:07] #410 closed

[2015-12-05 02:11] krisdestruction commented on #310
Looks fixed, thanks!

[2015-12-07 14:28] gholtslander-va opened #434 "Show album art in dock not working on El Capitan?"
I have the "Show album art in dock" checkbox selected but the album art is not showing up in the dock icon. Did this change in El Capitan? Here are some specs to help with debugging (maybe):

![image](https://cloud.githubusercontent.com/assets/8973794/11629215/6d161b3a-9cbc-11e5-8c0c-4b62f4d32f92.png)
Radiant Player 1.5.0

Thanks guys, it's really encouraging to see how far this repo has come in t

[2015-12-07 14:32] chrismou commented on #434
Hey @gholtslander-va

I suspect this is another issue fixed in https://github.com/radiant-player/radiant-player-mac/pull/400 but not yet released.

Could you check to see if this is still an issue for you if you manually build a binary in Xcode from the master branch?  Alternatively, I have a pre-built binary on my fork from about a week ago when I was testing a pull request - https://github.com/c

[2015-12-07 15:37] gholtslander-va commented on #434
Yeah, it works! And I can drag the window around too :) Good times.

I'll close the issue. Thanks!

[2015-12-07 15:37] #434 closed

[2015-12-07 15:48] kazak1377 commented on #411
I think, this bug not in radiant player itself. It's in safari engine. I getting this in safari too. May be google made this to stimulate using chrome. I don't know. But this error is quite recent.

[2015-12-07 16:19] jscheel commented on #408
I'm getting horrible scrolling performance. I'm thinking it might have something to do with the background that scrolls in parallax with the page. I'm on a retina screen, which I know has some performance issues around certain background positioning.

[2015-12-07 16:38] jacobwgillespie commented on #408
Are you getting the same performance issues on Safari?

[2015-12-07 16:57] jacobwgillespie commented on #173
Website images!  That's something we can retina-ize...

[2015-12-07 17:37] chrismou commented on #434
Nice! Thanks for letting us know :+1:

[2015-12-07 17:58] chrismou commented on #411
Good spot - I'd not noticed that before. Been using Chrome for too long.

I've logged a ticket on their support forum. Though I doubt I'll get a definitive response - that forum seems to be where issues go to die.

https://productforums.google.com/forum/#!topic/play/qmTJ-ZvjKC4

[2015-12-07 18:07] chrismou commented on #429
Looks to be the CSS. Thumbed up tracks do have an icon="sj:thumb-up-outline" set on the button, so it'll just be a case of tracking down what's triggering the style change.

I'll look into it

[2015-12-07 18:11] chrismou commented on #429
Hmm, maybe not. The button's an SVG and it looks like it *is* being triggered by the JS. Interesting way of doing it.

[2015-12-07 18:18] jscheel commented on #408
@jacobwgillespie nope, safari runs fine. Also the header appears cut off in radiant player. I actually don't think there is any parallax, it may just be the significant lag in repainting the background.

[2015-12-07 18:36] andreis commented on #408
:+1:

Overall very serious lagginess and responsiveness problems, that briefly go away after window resize.

[2015-12-08 01:44] chrismou commented on #429
Think I've got it sorted on dark & light themes. Feel free to check over the PR (#436) when you get a few minutes.

[2015-12-08 02:00] haofeng93 opened #437 "Mini Player not showing any song info"
I can't seem to see any information displayed in the Mini Player. I updated Flash Player, and I'm running the latest OS X and Radiant Player 1.5.0. I've played with most of the settings to see if I can fix it, however nothing seems to help. As such, I never get any notifications when the song changes.

Also, I have issues of;
- Not being able to quit the app from the Dock (pressing Quit does nothi

[2015-12-08 02:17] jacobwgillespie commented on #437
These issues are fixed in master - we need to push a release out soon.  If you want to build from master feel free, and I'll try to get the release coordinated ASAP.

[2015-12-08 20:24] MarshallOfSound commented on #430
Hey @chrismou,

I've been thinking about these CSS issues for GPM for a while, I'm experiencing the same constant breakages in my https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-, not quite as bad because I wrote mine more recently after the massive CSS change earlier this year but still damm annoying.

I would like to suggest we / someone extracts the CSS styling fo

[2015-12-09 06:24] jacobwgillespie commented on #335
It's worth noting that running Google Play Music inside an Electron app doesn't require a separate installation of flash.  I believe it's using HTML5 to do the streaming (since it's a Chrome environment) though I'm not 100% sure on that (it does work without explicitly allowing plugins, which I believe means that Flash is not running).

There's [radiant-player-electron](https://github.com/radiant-

[2015-12-09 06:57] t3rminus commented on #335
Although nowhere near as feature-complete as Radiant Player, there's also this: https://github.com/twolfson/google-music-electron, which shows its definitely possible, and works well without flash.

[2015-12-09 14:40] brianjking opened #438 "Feature Request - Open Radiant Player when clicking on Google Play Music shared URLs"
Hi,

I'm not sure if it's possible, however, I thought I would suggest this as a possible feature.

If someone sends me a Google Play Music share URL to a particular song or album is it possible for it to identify this and ask to open Radiant Player instead of my default browser?

#### Example of situation today

* Radiant Player is open & playing a song
* Recieve Hangouts message on my Mac with h

[2015-12-10 05:24] acondiff commented on #419
Having the same issue. Good to know it's being fixed. And Jacob, funny bumping into you here! :)

[2015-12-10 05:28] acondiff opened #439 "Notifications are not appearing on song change"
I am not seeing any notification when songs change. I am running on El Capitan.

[2015-12-10 05:30] acondiff opened #440 "Mini Player: 'No song currently playing' when song is playing"
I get the message 'No song currently playing'  in the mini player whenever I have a song playing. The controls in the mini player still work and the play head even moves across the track. No album art either.

[2015-12-10 05:34] chrismou commented on #439
Hey @acondiff - this was fixed in #400 and should be included in the next release.
Or if you want it now, you can build yourself a custom binary in Xcode from the master branch :-)

[2015-12-10 05:34] #439 closed

[2015-12-10 05:36] chrismou commented on #440
Hey @acondiff - same as your other issue, this was fixed in #400 and should be included in the next release.
A ton of stuff broke when Google made some unexpected changes. One change at our end seemed to fix them all

[2015-12-10 05:36] #440 closed

[2015-12-10 05:51] jacobwgillespie commented on #419
Hey Austin!  Yep, funny bumping into you too - hope all is well!

[2015-12-10 07:16] acondiff opened #441 "Smarter Navigation Arrows"
When the menu is open, they need to move over to the left taking the place of where the hamburger icon was before the navigation drawer was expanded.

The arrows also should be conditional. If there is no forward history state, do not display the forward arrow. If there is no back state, do not display the back arrow.

[2015-12-11 15:47] shawn-mitch opened #442 "Magical shrinking nav buttons"
![screen shot 2015-12-11 at 9 39 05 am](https://cloud.githubusercontent.com/assets/5890308/11748058/01e09664-9fec-11e5-8625-96eaee497d44.png)

The nav arrows change size when the window resizes. This seems like a somewhat neat idea in theory but the execution needs work. At around 1100px wide and under, the arrows are at their smallest, which looks pretty bad. The hit boxes are still big enough th

[2015-12-12 10:14] chrismou commented on #430
@MarshallOfSound That does sound like a good idea. The more of this stuff that can be abstracted away, the more we can pool resources and get things fixed quicker.  The ideal scenario IMO would be to have it complementing https://github.com/twolfson/google-music.js so you could (in theory) build a player around the 2 and only have to worry about the platform specific stuff.

I'd definitely be inte

[2015-12-12 11:54] MarshallOfSound commented on #430
@chrismou I added you and a few other related people to a private Gitter room, we can discuss this further their.

[2015-12-12 11:58] chrismou commented on #430
Got the email - link's giving me a 404 though. https://gitter.im/MarshallOfSound/Google-Play-Music-Framework

[2015-12-12 12:04] chrismou commented on #430
My mistake, working now. I'll jump on when I'm home.

[2015-12-12 22:13] chrismou commented on #442
Fixed in #443, courtesy of @davepagurek

[2015-12-12 22:13] #442 closed

[2015-12-12 23:02] chrismou opened #445 "Scrobbling not working in certain circumstances?"
Hard to tell exactly what's causing it yet, but scrobbling seems to have stopped working for me. I suspect it's something to do with a having a certain combination of preferences enabled, because it worked last week and now it's suddenly stopped (since I changed a load of my settings).

console.log is showing it's skipping past the `if` statement that triggers notifying last.fm., but everything el

[2015-12-12 23:06] chrismou commented on #445
document.querySelector('#player #player-song-title'); is no longer pulling through the title. I'd not noticed, the mini-player works for album/artist/etc but not title.

I'll puzzle out what's changed and put in a PR shortly.

[2015-12-13 02:14] #429 closed

[2015-12-13 02:18] #437 closed

[2015-12-13 02:19] #445 closed

[2015-12-13 02:20] #419 closed

[2015-12-13 02:36] chrismou commented on #372
Hey @oliverh72 - I know this is an old issue, but there's been a ton of fixes/improvements in the past 2 months.

If possible, could you check latest code and see if you're still seeing the issues you're reporting here?  You can either build from master, or for convenience I've tagged a release on my fork of everything up to today: https://github.com/chrismou/radiant-player-mac/releases/tag/v1.5.0

[2015-12-13 02:37] chrismou commented on #331
Hey @nashbridges & @justonian  - I know this is a really old issue, but there's been a ton of fixes/improvements since it was logged.

If possible, could you check latest code and see if you're still seeing the issues you're reporting here? You can either build from master, or for convenience I've tagged a release on my fork of everything up to today: https://github.com/chrismou/radiant-player-mac

[2015-12-13 02:44] chrismou commented on #275
Hey everyone - I know this is a ***really*** old issue, but there's been a ton of fixes/improvements since it was logged.

If possible, could you check latest code and see if you're still seeing the issues you're reporting here? You can either build from master, or for convenience I've tagged a release on my fork of everything up to today: https://github.com/chrismou/radiant-player-mac/releases/ta

[2015-12-13 02:48] chrismou commented on #409
I've updated a few of the issue, removed a few dupes and left comments on a fewer of the old issues (notably, ones I can't recreate) to see if they're still an issue. I'm referencing an interim release I've tagged here: https://github.com/chrismou/radiant-player-mac/releases/tag/v1.5.0-20151213

I'll chase the ones up I've commented on later on. If we can't recreate and there's no feedback, we're

[2015-12-13 02:57] jacobwgillespie commented on #409
I assigned all these issues / PRs to a new milestone for tracking progress: https://github.com/radiant-player/radiant-player-mac/milestones/v2.0.0

[2015-12-13 03:01] chrismou commented on #409
:+1:

[2015-12-13 14:41] nashbridges commented on #331
@chrismou I've tested your fork and the reported bug is fixed there. However, album art is not loaded neither in mini player, nor in dock (which obviously is an unrelated issue, but I've stopped using radiant player long time ago, therefore didn't send a report)

![image](https://cloud.githubusercontent.com/assets/380913/11767489/efcdfdcc-a1b7-11e5-8173-1121ab5b92bb.png)

[2015-12-13 17:11] chrismou commented on #331
Huh. That's interesting. I can't make my mini player look like that at all. I can't even get it to show the "playing" image in the status bar icon.

Thanks for getting back to me though. I'll look into the album art issue.

[2015-12-14 05:21] jadengore commented on #409
@jacobwgillespie Thanks for assigning all of these to a milestone!!!

[2015-12-14 05:23] jadengore commented on #408
We are working on it. It seems that Radiant Player over time uses up a bunch of memory that causes the application to freeze and have non-responsive UI after a couple of days. Radiant 2.0 will hopefully address a lot of these issues.

[2015-12-14 05:26] jadengore commented on #39
@radiant-player/radiant-player-mac It's great to look back and see this :smile:

We are working on an important open-source piece of software that people love. Keep it up.

[2015-12-14 06:50] jadengore commented on #336
Hey everyone,

As part of our Radiant 2 Milestone (more here #409), we are working to improve the performance of Radiant Player. I have begun profiling the memory issue and will let you guys know if I am able to figure out what is causing it.

[2015-12-14 09:39] chrismou commented on #126
Feature added in #428

[2015-12-14 09:39] #126 closed

[2015-12-14 12:46] chrismou opened #448 "Interim release"
@radiant-player/radiant-player-mac

We should look at getting an interim release out the door until we hear back from @kbhomes . Annoyingly, I'm coming across reddit threads where Radiant is being recommended and immediately dismissed because it's "broken" - referring to stuff that's been fixed for a month and a half.

I don't think we can push updates out to existing users, but we can at least ta

[2015-12-14 12:59] jscheel commented on #408
That's awesome to hear. Just as a side note, for me, the lagginess happens
immediately. There's no need to spend time using the app. It's instantly
laggy when I first open it.

On Sunday, December 13, 2015, Edward Bramanti <notifications@github.com>
wrote:

[2015-12-14 16:11] jacobwgillespie commented on #448
I heard back from @kbhomes and he's planning to add a few of us as org admins, so once that's done we can add the bot user and I can wrap up automatic builds...  I'd say that we should probably hold off on an interim release as we should have access very soon.

[2015-12-14 17:19] brendonrapp commented on #414
I really wish I could just pull and build the latest HEAD via Homebrew Cask.

[2015-12-14 19:06] andrewsawczyn commented on #408
My experience is the same as jscheel, it's laggy immediately.   Maybe we're discussing two different issues?

[2015-12-14 20:55] chrismou commented on #331
Hey @nashbridges - thanks for the heads up about the song art. Turns out Google made another change and it broke it. Now fixed - should be included in the new release

Cheers! :+1:

[2015-12-14 20:55] #331 closed

[2015-12-15 11:36] leemm opened #454 "Moving window in El Capitan"
I know this has apparently been fixed and awaiting release but I've pulled the master branch and built in xcode.  Some things appear to be fixed (UI rendering, Last.fm) but I still can't move the window around.  For some reason it seems to highlight the search bar.  Is there any way around this?

Thanks.

[2015-12-15 11:39] leemm commented on #454
Just done so more testing...

If I click anywhere within the display I can't move the window but the window loses focus e.g. click desktop I can then move it.  Very strange.

[2015-12-15 11:42] leemm commented on #408
Mine works fine until I minimise the app to dock.  Restoring it stops the ui rendering.  Minimising and restoring updates the display.

[2015-12-15 12:50] Gbreton76 commented on #454
yep, got the same issue here.

[2015-12-15 15:45] jacobwgillespie commented on #414
Follow along on the actual Travis build process at #449

[2015-12-15 15:46] jacobwgillespie commented on #448
Okay, we have access, @radiant-bot has been added, and we have the Sparkle signing private key (just pushed it to #449).

Remaining todos:

- [ ] #435 has to land
- [ ] I need to wrap up the scripts for building / deployment

[2015-12-15 15:47] jacobwgillespie opened #455 "Update CHANGELOG with everything missing in preparation for 1.6"

[2015-12-15 16:21] chrismou commented on #448
I should be home in a couple of hours. If noone bears me to it, I'll test it then.

Good times! :+1:

[2015-12-16 20:27] seniortwinkie commented on #395
I have found that if Radiant player is not in focus (like if I click on my desktop first) I can move the window without problem, but as soon as it has focus, it just selects the text.

OS X: 10.11.2
Player: 1.5.0

[2015-12-16 22:37] nelsonwittwer commented on #454
same issue here.

[2015-12-17 22:15] mcharmas commented on #454
I have exactly the same issue. Though it was connected with my usage of betterTouchTool but when it is disabled behaviour is the same.

[2015-12-18 21:13] iamhenry opened #457 "Queue resets after relaunching"
I've noticed that whatever songs you have in the Queue seem to disappear when you relaunch RP.

I'm wondering if this is an issue with RP or with Google Music. Anyone else having the same issue?

[2015-12-18 23:44] jacobwgillespie commented on #457
Yeah, that's an issue with Google Music (you can test by loading up a queue, closing the tab, and opening it up again)...

[2015-12-18 23:44] #457 closed

[2015-12-18 23:55] jacobwgillespie commented on #454
This is fixed in `master` and should go out this weekend as 1.6

[2015-12-18 23:55] jacobwgillespie commented on #448
Okay, so now I need to wrap up the build / deploy scripts.  I should be able to get to that tomorrow and after it's reviewed we can push out 1.6!

[2015-12-19 07:57] patrickhpan opened #458 "Title not correctly set"
The DOM id of the title field has changed from "#player-song-title" to "#currently-playing-title". Thus, the title is no longer correctly updated in notifications or through the scripting bridge.

The fix is simple—on line 252 of main.js, change "#player-song-title" to "#currently-playing-title".

[2015-12-19 09:36] chrismou commented on #458
Hey @patrickhpan

This had already been fixed in #445 and should be available in the next release

[2015-12-19 09:36] #458 closed

[2015-12-19 17:22] #43 closed

[2015-12-19 17:22] #203 closed

[2015-12-19 17:24] #455 closed

[2015-12-19 17:26] jacobwgillespie commented on #414
This is ready for review at #449

[2015-12-19 17:33] jacobwgillespie commented on #204
I'm going to close this as I cannot reproduce anymore, though feel free to ping if you're still experiencing issues.

[2015-12-19 17:33] #204 closed

[2015-12-19 21:29] jacobwgillespie commented on #411
Closing since this is an external bug

[2015-12-19 21:29] #411 closed

[2015-12-19 21:30] jacobwgillespie commented on #395
This is fixed in master and should go out today or tomorrow as 1.6

[2015-12-19 21:30] #395 closed

[2015-12-19 21:45] jadengore commented on #235
Ping to everyone in this conversation, any issues still?

[2015-12-19 21:46] jadengore commented on #68
@jacobwgillespie @chrismou What is the viability of a feature like this?

[2015-12-19 21:48] jadengore commented on #173
@jacobwgillespie @chrismou Are images still an issue?

[2015-12-19 21:49] jadengore commented on #277
@cyberjacob Thanks for your comment, but now since Radiant Player supports 4 versions of OS X we want to focus on more pressing issues to the application, such as performance.

I'm going to close this. cc @radiant-player/radiant-player-mac if you guys think we should support more versions, but I think it's safe to say we won't.

[2015-12-19 21:49] #277 closed

[2015-12-19 21:59] jacobwgillespie commented on #277
Yeah, I'd say we're always open to PRs that improve the app for people on older systems, but with constrained developer time, we likely won't support anything older than 10.8

[2015-12-19 22:03] #414 closed

[2015-12-19 22:51] chrismou commented on #448
\o/

[2015-12-19 22:51] #448 closed

[2015-12-19 23:30] jacobwgillespie opened #460 "v1.6.0 Released!"
@radiant-player/radiant-player-mac, 1.6.0 is released and updates are succeeding!  Just wanted to say congrats and thank you all for all the work that went into this release!

:tada: :cake: :tada:

[2015-12-19 23:32] chrismou commented on #460
:fireworks: :ok_woman: :+1:

[2015-12-19 23:39] jacobwgillespie opened #461 "Replace PayPal donations with Gratipay"
Something to consider: https://gratipay.com/radiant-player/

[2015-12-19 23:48] jacobwgillespie commented on #173
Potentially yeah - you can check the website - a lot of the images are blurry on retina screens.  I don't think any resources in the app need updating.

[2015-12-19 23:49] jacobwgillespie commented on #68
It could probably be implemented inside the JS library (local cache of current location)...

[2015-12-20 01:12] BarakaAka1Only commented on #460
Upon launching, it's just stuck on "Loading Google Play Music..." I've attempted to clear the storage data and even switched to cookies to see if that would help but it doesn't.
I am not sure what is up but going back to 1.5.0 works with no issue.
I went ahead downloaded the 1.6.0 source and ran it through xcode to see what would happen and it does the same with this in the output :

"2015-12-19 1

[2015-12-20 01:23] jacobwgillespie commented on #460
Looks like it's related to the specific devices plugged into your computer (perhaps a mouse or keyboard or other HID) - can you try unplugging them before launching Radiant and see if that resolves it?

@radiant-player/radiant-player-mac, looks like another project experienced the same issue - we should read through https://github.com/beardedspice/beardedspice/issues/260 and extract their solution

[2015-12-20 01:27] BarakaAka1Only commented on #460
I don't have anything plugged in only my Sound Blaster Omni Surround 5.1 that i use for my Logitech Surround sound, everything else is bluetooth (no headphones)

I went into the code and commented out everything in the AppDelegate's files (.h and .m) for DDHidLib and it works :|

[2015-12-20 02:35] clay-to-n commented on #460
Same issue here, app won't open after upgrade.  Unplugging devices + restarting hasn't helped.

[2015-12-20 15:58] chrismou commented on #460
Suggests it's related to the DDHID library used for the headphone control support.  Are any of you guys using earpods, out of interest?  Or any sort of headphones plugged in?

[2015-12-20 16:05] chrismou commented on #302
Google look to have removed the 5 star ratings option, and I can't seem to replicate this with the thumb up/down system  https://productforums.google.com/forum/#!topic/play/HwKmVF5N5YA

[2015-12-20 16:05] #302 closed

[2015-12-20 16:05] #235 closed

[2015-12-20 16:06] jacobwgillespie commented on #460
I'm able to reproduce on my iMac with an external mouse.  I've submitted a PR as #463 - you should follow along there.  It's building on my machine, just need to fix Travis.

[2015-12-20 16:06] #460 closed

[2015-12-20 16:06] #275 closed

[2015-12-20 16:07] #372 closed

[2015-12-20 16:18] jacobwgillespie opened #464 "Radiant frozen on 1.6.0 when external devices (mouse, keyboard) are connected"
This should be fixed by #463

[2015-12-20 17:02] #464 closed

[2015-12-20 21:58] brianjking opened #466 "Headphone controls testing from PR #450"
https://github.com/radiant-player/radiant-player-mac/pull/450

@jacobwgillespie

I tested the build provided in the above PR and found that the - & + volume controls work on my RHA MA-750i's, however, the play/pause button on my headphones seem to still open up iTunes and play/pause iTunes.

[2015-12-21 01:00] jacobwgillespie commented on #466
Yep, I'm seeing that as well - I'll take a look at this shortly

[2015-12-21 15:03] jscheel commented on #408
Interesting feedback. I upgraded from Mavericks to El Capitan over the weekend. Now scrolling performance is perfectly fine. However, I also now see the issue @leemm mentioned.

[2015-12-21 19:19] clay-to-n commented on #464
:+1: Thanks!

[2015-12-21 21:49] JustinTBrown opened #467 "Create New Playlist broken"
Create new playlist function appears to be broken. Whether triggering from sidebar playlists or through an individual track's contextual menu, it doesn't allow you add a playlist title or to even save an unnamed playlist.

Here is a screen shot of Radiant:
![screen shot 2015-12-21 at 2 40 54 pm](https://cloud.githubusercontent.com/assets/1620519/11942085/6ee68482-a7f1-11e5-8709-bb54221c80d0.png)

[2015-12-21 22:33] chrismou commented on #467
Turns out this is an issue with Google Music in safari.  I can recreate this issue in a browser.

I've logged a ticket with Google Music about it, but I'm not expecting a swift resolution.

https://productforums.google.com/forum/#!topic/play/qmTJ-ZvjKC4

[2015-12-21 22:33] #467 closed

[2015-12-22 12:13] leemm commented on #454
@jacobwgillespie Thanks for this but even with 1.6.2 (download and building from the master branch) I'm still unable to move the window unless it looses focus first.  It tries to highlight the test within the search bar.

Also, the UI bug still exists with the frozen display upon minimizing i.e. play a track from an album view, minimise app, open and everything is frozen.

Am I missing something?

[2015-12-22 12:19] chrismou commented on #454
Both the issues you've mentioned are still present - we're looking into them.

There was an issue a while ago where moving the window broke completely, which might be what @jacobwgillespie's referring to. Because of the delayed release, it's easy to confuse the 2 issues :-/

[2015-12-22 14:16] leemm commented on #454
@chrismou Ah ok.  No problem.  The work around still exists anyway (change window size which triggers the redraw).  Thanks!

[2015-12-22 17:01] jacobwgillespie commented on #454
@leemm yeah, the UI bug still exists (#408)

For moving the window, what are the steps to reproduce the bug you're seeing?  I am able to move the window correctly (I think, unless I'm confused) by dragging the title bar...

[2015-12-22 17:17] leemm commented on #454
@jacobwgillespie I thought a vid might be better.  http://sendvid.com/9l0gipq2 Radiant Player had just been opened.  I have 3 macs all running El Capitan and the situation is same, click the desktop and it works - once. :)

[2015-12-22 17:22] jacobwgillespie commented on #454
Hmm...  And this is on 1.6.2?

[2015-12-22 17:50] leemm commented on #454
Yes, the compiled release and building it myself from master.

[2015-12-23 10:52] chrismou commented on #454
Actually, I'm not seeing that exact issue. For me, when I drag the window it sometimes just acts like I've let go of the mouse button and stops dragging.  When that happens, the search box usually highlights like in your video.

One thing I've noticed is I only get it when I drag from the lower part of the top bar -ie, the custom bit. If I drag from the very top (ie, where the title bar would usua

[2015-12-23 15:50] chrismou commented on #425
Note to self:  we're not losing loved tracks, but it does seem the unloving/reloving unexpectedly.

http://www.last.fm/user/chrismou/loved

Looking at this, for about 40 minutes on the 23/12 it did the unlove/relove thing so now they're showing at the top of the list.

[2015-12-24 19:39] jadengore commented on #277
@jacobwgillespie :+1:

[2015-12-24 19:41] jadengore commented on #68
@jacobwgillespie Do you think the `google-music.js` addition will help us with this at all? Or will we just have to implement our own caching of the current location?

[2015-12-24 19:59] jacobwgillespie commented on #68
Possibly - it's technically not part of the Google Music functionality though, so I'd guess we'd want our own JS library.  It'd be pretty simple to implement, basically just subscribe to the page location, store its value in localStorage on change, then when the page loads initially check to see if there's a stored location and redirect there.  We could add an option in the Preferences to opt-in t

[2015-12-27 19:18] LabLayers opened #468 "Thumbs up and track slider should be the same shade of orange"
Take a look at this screenshot and notice how the thumbs up and track slider are different shades of orange:

![image](https://cloud.githubusercontent.com/assets/607807/12011636/96a741de-aca4-11e5-82db-64854737da37.png)

These should be the same shade of orange.

[2015-12-28 11:22] chrismou commented on #468
Slider uses apple's orangeColor value (ff9224) whereas rating buttons are images (fd8824)

I'll sort this in the new year. There's probably a few other images that will be slightly off colour too.

[2015-12-28 15:28] brianjking commented on #438
bump. Just wanted to see if this is explained or if you have any questions. Thanks!

[2015-12-28 19:12] jacobwgillespie commented on #438
This makes sense to me and seems like a cool feature - I don't know anything about how to implement it.  If I get some free time to look into it I will, though perhaps somebody else in @radiant-player/radiant-player-mac has some knowledge about this kind of thing.  Or anybody really, PRs are always welcome.  :smile:

[2015-12-28 20:15] jscheel opened #471 "Large album-art view causes ~100% cpu utilization"
Watch cpu usage spike when you click the album art at the lower left corner (to fill the screen with the album art). Running build from master.

[2015-12-29 05:22] jacobwgillespie commented on #471
How high are you seeing?  I'm able to reproduce in Radiant as CPU 22% "normal" then 99% when the album art is enabled.  However, I'm seeing similar numbers in Safari and Chrome actually went up to 140%.  Depending on what you're seeing, we may want to mark this as a Google issue and close.

[2015-12-29 12:53] FezVrasta opened #473 "Work with Play Midnight developer"
You should ask Play Midnight to allow you to integrate its extension inside your player.

https://chrome.google.com/webstore/detail/play-midnight-for-google/ljmjmhjkcgfmfdhgplikncgndbdeckci

It would allow you to work just on the player features and leave the UI tweaks to him. It would be a win-win.

I know it's a Chrome extension and this app uses the Safari webview, but it's trivial to take the

[2015-12-29 13:21] chrisxclash commented on #473
I'd be more than happy to help contribute towards Radiant Player with my setup.

Feel free to snag the project ([here](https://github.com/chrisxclash/play-midnight)) and let me know if anything is needed from me tweaks-wise.

I'm working on redoing all of the JavaScript, but I figured you only need the CSS anyways.

[2015-12-29 13:23] FezVrasta commented on #473
My idea would be to put the entire extension inside Radiant Player, so that we can use your settings panel to customize the theme.

Radiant Player already supports custom CSS **and** Javascripts for each theme, so it would be as easy as put the files in the right folders and it would be shown as theme instantly.

[2015-12-29 13:42] chrisxclash commented on #473
Ah, that sounds even more awesome.

Shouldn't be too hard aside from moving the entire 'dist' folder wherever it needs to go and then just injecting the 'play-midnight.js' file. The biggest issue I can forsee is with saving your settings. Right now it's set up to use the Chrome storage sync, so that would have to be modified. Other than that, I don't think it's really tied all that much into being

[2015-12-29 13:48] FezVrasta commented on #473
About the chrome.storage, we could write a simple wrapper which uses by default the chrome.storage function and fallbacks to localStorage. What do you think about it?

[2015-12-29 13:49] FezVrasta commented on #473
Or we could just rewrite that part if you prefer keep clean your code base. Even if it means that there will be a bit of fragmentation.

[2015-12-29 13:51] chrisxclash commented on #473
The way I have it set up now, it's already pretty abstracted into it's own little wrapper that would make it really easy to update.

You can see it here: https://github.com/chrisxclash/play-midnight/blob/master/src/js/play-midnight-browser.js

Though, I'm in the process of rewriting all the JavaScript for the plugin anyways using require/browserify so I'm always up for suggestions with a better wa

[2015-12-29 13:56] FezVrasta commented on #473
Unfortunately I've not a lot of free time to help with these ideas.

By the way I can't find any better alternative to what I've suggested. It would be as simple as write:

[code]

I've excluded the `self.port.emit` part because I'm not sure what's its purpose

[2015-12-29 14:00] FezVrasta commented on #473
@chrisxclash about Browserify, I would suggest you to read this article first.
https://medium.com/@housecor/browserify-vs-webpack-b3d7ca08a0a9#.tbusz4fzf

[2015-12-29 14:02] chrisxclash commented on #473
Not to worry. I can look into it when I have some time myself.

Yeah, I definitely knew it would be as easy as throwing it into Local Storage. I'll just have to do a merge of the default options and what comes back, but easy enough.

Also, the ```self.port.emit``` is the Firefox way of saving/getting settings (since the plugin was either Chrome or FF).

[2015-12-29 14:05] chrisxclash commented on #473
I skimmed through some of the article, and it makes some good points. I've actually got a node-based configured build tool that I've been using for a while now that I can use that got rid of grunt/gulp from everything, so I'm not relying on either of those anymore.

Everything is building neatly through a Browserify build script that already does what I need. This was something I already threw tog

[2015-12-29 15:08] jscheel commented on #471
Yeah, I'm betting it's a google issue. In chrome the playing equalizer gif runs the cpu up to 30-40% as well. Wonder if we can do some theme tweaks to get it to use gpu acceleration if possible.

[2015-12-29 23:54] schizzle commented on #337
I'm still having this issue on 1.6.2.

[2015-12-30 00:09] chrismou commented on #473
I've had some thoughts on this sort of functionality before - my original thoughts were just to have 2 colour pickers to cover background & foreground, but I've not had any time to even begin thinking about how to implement it.

Currently the pre-written CSS is injected into the page in a `<script>` tag on load. A huge downside to this implementation is that it means the player has to be restarted

[2015-12-30 00:24] chrisxclash commented on #473
Ah yeah, I finally took a second to look at how the themes currently exist in Radiant (as I mentioned, I don't use it myself since I'm stuck on Windows at work now). Seems like yeah it would definitely be a bit of work to get it up and running properly.

I'm all for just moving the css over if people would enjoy it, or if someone wanted to point me in the right direction on how to get the js imple

[2015-12-30 11:08] FezVrasta commented on #473
If you get rid of all the other themes and use Play Midnight as default theme, all the other themes the users would write would be based on it.

This would mean that the user would know that all the theme and UI settings are managed trough the Play Midnight settings panel.

Also, this would allow different themes to share the same settings (accent, hidden sections, and so on).

I think it would be

[2015-12-31 01:13] krisdestruction commented on #336
Should this be closed since it's a duplicate of both #308 and #328 ?

[2015-12-31 01:13] krisdestruction commented on #461
Perhaps not replace but add "in addition to"?

[2015-12-31 01:21] krisdestruction opened #474 "Shuffle and Repeat Status in Miniplayer"
The shuffle and repeat buttons do not update their status when they are clicked. Note in the following screenshot how shuffle is enabled but that status is not reflected in the Miniplayer.
![screen shot 2015-12-30 at 8 18 21 pm](https://cloud.githubusercontent.com/assets/1440068/12059904/8b9cae56-af32-11e5-9087-0eb455565635.png)

Version: 1.6.2

[2015-12-31 01:25] krisdestruction opened #475 "Keyboard Shortcut Help/Reference Page"
It would be great if a keyboard shortcut reference page to see all the keyboard shortcuts at once. Gmail currently has "Shift + ?" as that binding and it would be intuitive to use that as well. This will be especially useful if #36 is implemented.

[2015-12-31 01:33] chrismou commented on #473
@FezVrasta Unless I'm misunderstanding, if the extension was integrated as-is, wouldn't leave us with 2 separate settings sections?  So there'd be the main preferences popup window (objective-c), then we'd need to inject a link into the sidebar that would open a second settings page (javascript) just to control themes?

Behind the scenes, this would also mean preferences would need to be stored in

[2015-12-31 19:02] jacobwgillespie commented on #471
I'm going to close this for now since we can reproduce in Chrome, but feel free to comment back if anything new comes up.

[2015-12-31 19:02] #471 closed

[2015-12-31 19:03] jacobwgillespie commented on #337
I can't reproduce - are you using a particular theme?

[2015-12-31 19:05] jacobwgillespie commented on #461
Yeah, perhaps, though I think it's cool how payments through Gratipay flow out to the people working on the project (based on work if I understand it correctly)

[2015-12-31 19:07] jacobwgillespie commented on #474
Yeah, we should look into this one - after #402 lands, we will have a better system for detecting the repeat / shuffle state.

[2015-12-31 19:10] jacobwgillespie commented on #475
Interestingly enough, Google already provides this.  For some strange reason it doesn't display correctly inside Radiant, so we should investigate that.

[2015-12-31 19:14] jacobwgillespie commented on #473
I like the idea of adding a settings UI manager to @gmusic-utils that we could move more of our config into and then add a theme manager to @gmusic-utils that could style things based on the config settings.  We could store things inside localStorage, etc, and potentially sync it with Radiant for backup.

Oh, and @chrismou, we can use JS to change the theme without resorting to "styling with JS" a

[2015-12-31 19:30] chrismou commented on #473
@jacobwgillespie My point was more that to avoid having 2 different styling controls we'd need to strip out the current stuff. Also, the current preferences menus are all built with Obj-C, so it's be massively disconnected from the existing preferences popup.

I'm all for JS based theme controls - I just don't like the idea of having 2 separate preferences menus in 2 places.  And to avoid that, we

[2015-12-31 19:33] #468 closed

[2015-12-31 19:33] chrismou commented on #468
Fixed in #476

[2015-12-31 19:37] FezVrasta commented on #473
I think we could get rid of the native menu and use just the js based. It would simplify the work

[2016-01-01 03:52] MarshallOfSound commented on #473
That @gmusic-utils ping got my attention aswell.  I think this comes back the unification of frameworks we were hoping to achieve there.

In regards to theming I have a rather unique JS based method that you can check out here https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/blob/master/Google%20Play%20Music/Resources/JS/dark-theme.js

It is some of the nastiest JS I

[2016-01-01 04:08] jacobwgillespie commented on #473
Yeah, I agree with @MarshallOfSound that it would be awesome to leave the UI of settings to the native implementations but use JS to manage their storage / effects.  Better than my original suggestion of implementing the UI inside @gmusic-utils for the mentioned reasons...

Anyways, on the original topic of theming, I think we should set up a "cascading" style system, so like you can set a base co

[2016-01-01 10:17] MarshallOfSound commented on #473
Just an FYI for those here.  I just "cleaned up" (kinda) my theming JS and pushed it as its own separate library.  Simple enough to use, what do you guys think of it

https://github.com/MarshallOfSound/gmusic-theme.js

[2016-01-01 11:14] chrismou commented on #473
@MarshallOfSound Ah, my mistake. I assumed from how it looked that it that it was pure JS.

@jacobwgillespie Cool, so we're agreed that sticking to the native menus is the best way forward. In terms of cascading, tbh I think @MarshallOfSound has the right idea - there only needs to be around 5 colour options, and each affects a different range of elements.  My main concern with allowing users to s

[2016-01-01 12:40] FezVrasta commented on #473
You could keep a database of classes to associate to the custom props.

For example:

buttons: [button, btn, fab, etc]

So you could update it when needed

[2016-01-01 13:17] chrismou commented on #473
That sounds similar to what @MarshallOfSound has done in his theming repo (https://github.com/MarshallOfSound/gmusic-theme.js/blob/master/src/gmusic-theme.js#L84).

@jacobwgillespie's suggestion was to allow users to override specific selectors, which is a bit risky when the majority of our major issues stem from Google changing the selector names without warning.

@MarshallOfSound I like the appr

[2016-01-01 13:27] jacobwgillespie commented on #473
Well not exactly the custom selector part (I think we should allow that so that themes that want to extend custom things can do so), but more that we internally group selectors into named parents and children so that they can be targeted and then when Google changes things, we simply change them on our end and the themes don't need to be updated.

[2016-01-01 13:38] chrismou commented on #473
In terms of organising what can be customized, this sounds like we're all saying pretty much the same thing, but in slightly different ways :-)

So the key points, as I understand:

- Group selectors, as @MarshallOfSound, but possibly break it down into more groups for more customisation options
- Allow group colours to be set via the UI (in the case of our apps), but also allow selector overrides

[2016-01-01 17:09] jacobwgillespie commented on #461
Our project has been approved!

[2016-01-01 17:09] jacobwgillespie commented on #461
@radiant-player/radiant-player-mac any thoughts?

[2016-01-01 18:58] jadengore commented on #461
@jacobwgillespie Maybe something like Square Cash too, love that service!

[2016-01-01 19:00] chrismou commented on #461
I've not used gratispay before. How did it work?

[2016-01-02 01:00] jacobwgillespie commented on #461
@jadengore Square Cash is awesome, though not sure how it'd work in our context...

@chrismou essentially people contribute a certain amount of money per month (could be a super small amount) and that money is owned by the "organization" account.  Eventually people who work on the project can withdraw that money into their own accounts as part of "payroll" for working on the project.  Kinda the pa

[2016-01-02 01:04] jacobwgillespie commented on #461
I'll ping @twolfson since he works on Gratipay.  :)

[2016-01-02 01:52] twolfson commented on #461
Heh, more like contributed to a few times than "works on". @jacobwgillespie has got most of it right.

In the v1 model, everything aggregates into a main account and then contributors "take when they want".

In v2, they are still building out payroll but I don't know whether they are planning on keeping that model or allowing people to roll their own.

https://github.com/gratipay/gratipay.com/issu

[2016-01-02 04:44] MarshallOfSound commented on #473
For those interested in the current CSS but want to actually read it :smile_cat: here is a more CSS looking stylesheet

https://github.com/gmusic-utils/gmusic-theme.js/blob/master/lib/style.css

[2016-01-04 11:59] robert-barrie commented on #408
The issue @leemm mentioned still persists in the latest two updates. Is this being looked into?

[2016-01-04 12:05] leemm commented on #454
Is it worth 'un-closing' this issue?  I've noticed people are still talking about it in other threads.  Thanks!

[2016-01-04 22:09] Mossop commented on #408
For me the UI is almost totally frozen as long as the playlist pop-up is displayed. Hiding it makes everything work again

[2016-01-06 02:01] crquixote commented on #342
Anything new on this issue? I'm running Radiant 1.6.2 in El Captain and as the original posts states "Keeps skipping songs and eventually says that Google Play can't be reached."

[2016-01-06 02:01] waldo1979 opened #477 "Playlists not saving"
I just tried to save my "I'm feeling lucky" list and it's not persisting correctly.

[2016-01-06 11:15] leemm commented on #408
There are workarounds.
1/ If you restore the app from dock and then resize the window it starts funtioning again.  In fact this works for any time the gui locks.
2/ To move the window in El Capitan click the desktop to change focus then it should be ok.  At least until next time you do something.

[2016-01-06 11:22] chrismou commented on #342
Hey @crquixote - do you have HTML5 Audio switched on, out of interest?  Go to settings (in the sidebar) then it'll be in the labs section

[2016-01-06 14:24] crquixote commented on #342
Hey Chris,

Thanks for the quick reply. Turns out my problem had to do with an Internet plugin I had installed called 'click to flash'. I uninstalled the plugin and everything seems to be working fine.
_____________
Regards,
Carlos R.
(973) 997-9950

🏄🌴🐠🏊☀

[2016-01-06 14:27] chrismou commented on #342
:+1: Nice one, glad it's sorted. Thanks for letting us know!

[2016-01-06 15:46] jjanusch opened #478 "Flashing Scrollbars"
Every few seconds, the scrollbars will switch to a black theme and go back to a normal style. It seems to only occur when I am within a playlist and is completely fine when I am on other pages like Listen Now. The sidebar scrollbar, when it actually appears, does the same thing

![screen shot 2016-01-06 at 8 41 16 am](https://cloud.githubusercontent.com/assets/3516836/12146545/5d004c6e-b451-11e5-8

[2016-01-06 16:05] brianjking commented on #438
@jacobwgillespie When I click on a link from Hangouts for example that is a Google Play Music URL it will open a new Chrome Tab/Window and display the song title highlighted. I believe you need to set a Handler of some sort, however, I'm not really sure.

https://support.google.com/chrome/answer/1382847?hl=en

[2016-01-06 19:34] jmcnevin commented on #454
I'm still seeing this on 1.6.2 as well.  I can only initiate a window drag when the window doesn't have focus.

[2016-01-06 19:52] jacobwgillespie commented on #454
Anybody who's still experiencing this issue, can you describe your environment?  What software / hardware / OS version, etc.  I'm unable to reproduce, but there must be some common denominator between those of you who can.

[2016-01-06 20:55] mcharmas commented on #454
In the newest version it works for me.

[2016-01-07 10:29] leemm commented on #454
I've done some more playing and I'm absolutely convinced this is a combination of the lack of a title bar and WAYWindow.

Simply commenting these two lines in the applicationDidFinishLaunching event now allows me to move the window using the standard title bar - not pretty but functional:

[code]

What's even stranger is that it *also* fixes the second issue i.e. minimising the app to dock while p

[2016-01-07 11:43] chrismou commented on #454
Thanks for looking into this - it's something I've had on my list of todos for a while but not had time to properly look in to.

If this fixes the problem, I'd be happy to go down this route. But it's a bit enough aesthetic change that I'd want a few contributors to chime in with their opinions before it's merged in

If it's as simple as a 2 line change, do you fancy putting a PR in for it?  Just

[2016-01-07 13:51] KurtTrowbridge opened #479 "[Feature Request] Toggle for reverse order of auto-playlists"
As one of many people migrating from Rdio to Google Play Music, I'm accustomed to a list of favorites/thumbs-up tracks that are in reverse-chronological order, with the newest likes at the top of the list.  In GPM, the first songs with a thumbs-up are listed first in the *Thumbs up* auto-playlist, meaning I have to scroll down to get to the newest ones. Would it be possible to add either a column

[2016-01-07 13:53] chrismou commented on #479
Hey @KurtTrowbridge -- I think it already shows newest at the top?  At least it does on mine

[2016-01-07 14:04] KurtTrowbridge commented on #479
Ah, I think you're right, @chrismou. I had tried giving a thumbs-up to multiple tracks right after each other, and they weren't showing in the right order (I just did five in fairly close succession and they show in the order 5/3/1/4/2, where 5 is the last one I liked), but it looks like they're correctly in reverse-chronological order after refreshing Radiant Player. Thanks for the extremely fast

[2016-01-07 14:04] #479 closed

[2016-01-07 14:08] chrismou commented on #454
OK, so to get the title bar back in the darker themes I had to edit
ApplicationStyle.m::applyYosemiteVisualEffects too.  The window is *much* more responsive - no lagging at all.

Will also need to unhide the maximize/minimize buttons - thats in AppDelegate.m (326)

@leemm Do you want to sort this or are you happy for me to fix up and put in the PR?  Now we've identified a potential fix I'm keen t

[2016-01-07 14:10] chrismou commented on #479
No worries, glad to help ;-)

[2016-01-07 14:23] leemm commented on #454
@chrismou I'm fine for you to do the PR if you don't mind.  I'm working on a big project and getting the spare time is a pain at the moment.  Good catch on the themes, I didn't get the chance to check that properly (if at all).

Also, since this only seems to affecting El Capitan maybe it's worth making it a conditional thing via the version number of Mac OS?  Personally I think just having it acr

[2016-01-07 14:57] chrismou commented on #454
Cool, no worries, will try and sort it tonight.  And yeah, I agree, generally I prefer to see stuff like this implemented for all platforms, otherwise it just creates more work down the line.

Either way, this will most likely just turn out to be a stop-gap fix until we can puzzle out why the custom stuff performs so badly when the titlebar is hidden.  Judging by some of the stack overflow questio

[2016-01-07 15:08] chrismou commented on #454
@jacobwgillespie Out of interest, when you drag the window (and don't see a lag), where are you clicking?  I'm noticing that if I click and hold right at the top of the window (where the titlebar would be if it wasn't hidden) it moves OK for the most part.  The worst of the lag starts when I click any lower than that.

The interesting thing is with the titlebar visible, there's no lag regardless o

[2016-01-07 15:18] leemm commented on #454
The thing is the title bar is actually still there but is using a transparency hack to remove visibility.  Perhaps upon dragging it has to continuinely re-draw, applying the hack repeatedly?  I think this might be quite difficult to prove.

Also, it appears the only time I can move the window via the custom titlebar is after it looses focus e.g. clicking the desktop.  My point is the right-click w

[2016-01-07 15:54] chrismou commented on #454
Even more interesting is I'm watching the profiler and Energy and Memory usage are staying reasonably low despite continuous music playing and loads of clicking around.

It's a bit optimistic to think this will fix #377 and #308 but it's something I'll be keeping an eye on tonight

[2016-01-07 21:56] chrismou commented on #454
Now I'm thinking it's probably best if I add this as a preference so people can decide for themselves whether to use a custom or standard title bar.

I'll try and find some time this weekend to finish it off

[2016-01-07 22:15] leemm commented on #454
Great idea.  I'd suggest the custom title bar is off by default.  A lot of users are now upgraded to El Capitan and to them it looks like a broken app...

[2016-01-08 20:45] jacobwgillespie commented on #454
See #480 for the PR

[2016-01-08 21:48] schizzle commented on #337
It's the default theme. Do you want any specific info about my setup/environment? For the most part I haven't touched the settings.

[2016-01-08 23:40] luiseduardobrito commented on #2
Is it going to happen?

[2016-01-09 02:09] jacobwgillespie commented on #337
Check out #454 - looks like we'll likely have a preference to disable the custom title bar (which has been fixing performance issues for people)

[2016-01-11 20:12] MarshallOfSound commented on #477
This is very unlikely to be a bug with `radiant` rather a network connection issue or a problem of Google Play Music itself

[2016-01-11 20:15] chrismou commented on #477
Looks like Google music just doesn't work all that well on anything that isn't Chrome :-/  https://productforums.google.com/forum/?utm_medium=email&utm_source=footer#!msg/play/qmTJ-ZvjKC4/9PH7OmmjCAAJ

[2016-01-11 20:24] MarshallOfSound commented on #477
This is where a point at ChromiumEmbedded and leave the building :smile_cat:

[2016-01-11 21:54] jacobwgillespie commented on #477
Which is where radiant-player-electron could come in handy...  :wink:

[2016-01-12 02:01] waldo1979 commented on #477
@MarshallOfSound I just confirmed that this isn't an issue with Google Play music. This problem is specific to the Radiant. Does the issue repo on your system?

Repo Steps:
1. Listen Now
2. I'm feeling lucky radio
3. Save
4. Create Playlist
5. Note that the playlist isn't created

Doubt it's a "network connection issue", but maybe you can elaborate on that one.

[2016-01-12 05:31] atgodfrey commented on #299
+1

[2016-01-12 10:52] chrismou commented on #477
@waldo1979 I've just followed your steps using Safari and the exact same thing happened.

What made you think it was specific to Radiant?

[2016-01-12 11:06] MarshallOfSound commented on #477
I still don't think Google officially support any browsers other than Chromium based ones.  You might have to polyfill something GPM wants in Safari

[2016-01-12 11:42] chrismou commented on #477
@MarshallOfSound Pretending you support all browsers is totally the same as actually supporting them all... https://support.google.com/googleplay/answer/2844198?hl=en  :confused:

[2016-01-13 11:13] chrismou commented on #477
Closing as this is essentially a Play Music issue. Unfortunately there's not much we can do until Google fix their cross browser compatibility

We could look at switching to using Chromium in the future, but it's unlikely to happen any time soon

[2016-01-13 11:13] #477 closed

[2016-01-13 11:16] chrismou commented on #475
Hitting Shift+? brings up an empty popup.  Guess what else brings up an empty popup? Playlist creation

And guess what browser the keyboard shortcut popup doesn't work on ? Yep, you guessed it, Safari.

So in short, as with #477, this looks to be another shining example of Google's dedication to cross browser compatibility :confused:

[2016-01-13 13:33] chrismou commented on #438
I'm not sure this is going to be possible.  If gmusic used their own custom url protocol (ie, gmusic://) then we could catch that because the browser looks outside of it's own app to see if the OS knows what to do with it.  But as the browser deals with http links itself, you'd most likely need some sort of browser plugin to watch each link clicked and react if it sees https://play.google.com/musi

[2016-01-13 18:17] krisdestruction commented on #475
@jacobwgillespie Yeah I saw a quick flash but couldn't take a reliable screenshot

@chrismou Google music itself doesn't work on Safari as far as I've experienced. I didn't realize that Radiant Player has similar compatibility as Safari.

[2016-01-13 18:50] MarshallOfSound commented on #475
@krisdestruction Radiant players web interface is basically safari

[2016-01-13 23:01] krisdestruction commented on #475
@MarshallOfSound Ah good to know...Regardless it'd be great if radiant player had it's own shortcuts page. Might as well override a broken keyboard shortcut page.

[2016-01-14 11:55] chrismou commented on #474
Am looking at fixing this as part of #402 along with the other miniplayer issues

[2016-01-17 00:50] davidhellmann commented on #395
Hm, same problem here. Newest Version. Can't move the window.

[2016-01-18 21:12] myneur opened #484 "Swipe gestures back/forward don't work"
Although I have enabled swipe gestures (by 2 fingers) to navigate back and forward, it does not work. Nothing happens. Added buttons back/forward work but the gestures are more natural/quick way of the navigation.

Current version 1.6.2 on current OS X 10.11.2.

[2016-01-19 18:29] Akaryatrh opened #485 "Option + shift on green button goes fullscreen"
Hi there,

On native OSX apps, the green button can be used to maximize the window (instead of going fullscreen) when clicking it while pressing `Option + Shift` keys. This behavior currently doesn't work on radient player and it goest fullscreen instead.

BTW, thx a lot for all the great work done until now :)

[2016-01-20 00:32] jcady opened #486 "'Playing From' Window Unable To Be Opened"
After using Radiant Player for awhile, sometimes it will get into a state where it's impossible to open the 'Playing From' window (the pane that comes up when you click the bottom right button).  When I click the button, it highlights orange and the window quickly expands open twice and then disappears.  When clicked again, the button un-highlights and the window briefly appears to be collapsed.

[2016-01-21 16:34] myneur commented on #409
I suggest:
Major: stop using Flash. E. g. in Chrome Google Music does not require Flash anymore. There is no reason to keep flash with all its security issues in computer just to play music. Together with
Minor: Airplay support for those who has wireless HiFi at home. It's annoying to switch all sound output to AirPlay and hear even notification or video/voice communication with delay or have to s

[2016-01-21 17:15] chrismou commented on #409
@myneur

- Would love to switch to HTML5, but Radiant uses Safari, which doesn't support it. So unfortunately, we're stuck with Flash for now at least.
- Airplay support would be cool - feel free to have a go at integrating it yourself, pull requests are always welcome. Personally, as the owner of 3 chromecasts, I'm probably more inclined to work on adding casting support but there's no reason why

[2016-01-21 17:36] myneur commented on #409
@chrismou I am not a programmer so I can't contribute.

One more suggestion #484: absent swipe gestures are also annoying because it is a natural way of navigation on Mac. You don't need to skip between touchpad and keyboard or try to hit icons of arrows.

The point is everything which make Radiant experience inferior to a native browser Google Music is more likely to prevent users from switching

[2016-01-21 17:59] MarshallOfSound commented on #409
@chrismou Just to put my 2 cents in about flash and HTML 5, that electron player *cough* radiant-player-electron *cough* doesn't need flash to play music.

[2016-01-21 18:15] chrismou commented on #409
@MarshallOfSound Haha! Subtle ;-)

But yeah, once we've got gmusic.js into Radiant and I've wrapped up a PR I've been working on, I wouldn't mind spending a bit of time playing with that. Had never seen Electron before - been dying to have a play ever since you guys started talking about it!

[2016-01-21 19:09] MarshallOfSound commented on #409
I pride myself on my subtlety :smile_cat:

Check out https://github.com/Nucleus-Player/Nucleus-Player for my attempt at electron, (still very much in progress)

[2016-01-22 00:07] mgoldkamp opened #487 "Cannot create playlists in Radiant"
I have to use the web browser or my phone in order to create playlists. If I try to do it in Radiant the playlist never shows up.

[2016-01-22 09:31] andreas- commented on #299
+1

[2016-01-22 21:23] scarroll825 commented on #454
I just wanted to note, I was having this issue (unable to move window unless focus was lost) and wanted to test a bit because not everyone was getting the issue. When I disabled the preference for back and forward buttons the issue went away, and I was able to drag the window.

[2016-01-25 08:56] JakubMatejka opened #488 "Getting "Missing Flash Player" error after update to 1.6.2"
Hi,
I updated app to version 1.6.2 and when I opened the app, I got message that Flash Player is Missing and I can't play music. Until then, with previous version, the app worked fine and I haven't seen the error. Reinstall didn't help.

I've noticed issue #335 but I think it's not the same case because the app update obviously caused this problem to appear, I didn't change any settings in Google.

[2016-01-25 08:59] MarshallOfSound commented on #488
Have you tried updating flash?  Normally it pops up and tells you to download the flash player update in safari

[2016-01-25 09:13] JakubMatejka commented on #488
Well, earlier I did try to click on "Download Flash" in that popup but nothing happened. But I just manually downloaded and installed Flash installation for Safari and it works. ;o) Probably the problem is that I don't use Safari but Chrome as my main browser so it did not get a chance to tell me there's an update for the plugin. Anyway, thanks a lot for your help.

[2016-01-25 09:13] #488 closed

[2016-01-25 20:00] jdcliff opened #489 "Freezing and Locking Up"
Been trying to use Radiant for a few weeks now, and have run into this same problem over and over again. Everything works right up until I choose a playlist/album/song, then any mouse clicks after that either don't work at all or screen never loads correctly when trying to back out of a playlist. The music keeps on playing, but there is no functionality to change songs.

CMD-Q kills is, and then I

[2016-01-26 01:07] marcelocf commented on #489
Same thing here.

[2016-01-26 13:35] chrismou commented on #489
@jdcliff @marcelocf When the app freezes, if you resize the window slightly does it become responsive again?

That's not a permanent fix obviously, just interested to know if this is the same issues as we've seen reported before, or something different.

[2016-01-26 13:38] marcelocf commented on #489
I will try next time it happens but I think I can't resize at all. Will
confirm here tomorrow (Japan time)

Marcelo C. Freitas

On Tue, Jan 26, 2016 at 10:35 PM, Chris Chrisostomou <
notifications@github.com> wrote:

[2016-01-26 20:46] jdcliff commented on #489
Totally fixed the problem. Strange work-around, but resizing does the trick
right now.

On Tue, Jan 26, 2016 at 7:35 AM Chris Chrisostomou <notifications@github.com>
wrote:

--

*Jonathan Cliff*
*Grace Community Church* || Connection Pastor
|| +931.614.7790 || jcliff@graceclarksville.com
<jcliff@graceclarksville.com>

* <http://www.graceclarksville.com/>*

* <http://meetme.so/JonathanCliff>*

[2016-01-26 20:51] chrismou commented on #489
Strange eh? :-/

I've got a pull request in for a potential fix (#480) but I've noticed a few issues with it that need ironing out before I merge it in.  Hoping to land it in the next few days - I'll drop a message here when I do.

[2016-01-27 05:09] marcelocf commented on #489
I managed to reproduce this. A couple of more details on this issue:

* it seems to happen more often when using the default style. Since I
switched to black style it seems more responsive - might be just my
impression.
* I kept browsing my library the entire morning with no problem. It only
behaved badly after the computer went to sleep.
* the resize trick did solve the problem and I browsed the

[2016-01-27 11:37] chrismou commented on #489
@marcelocf

[radiant-player.zip](https://github.com/radiant-player/radiant-player-mac/files/106510/radiant-player.zip)

This is my local build in it's current state. Few more tweaks to make, but the proposed fix is there.  FYI, most people report the issue showing itself after minimizing the app for a while then bringing it back to focus, so I guess seeing it after the Mac wakes up from sleep is a

[2016-01-27 22:38] abrammer opened #490 "Closing fullscreen/splitview window leaves behind black void"
Somewhat minor issue. When closing the apps window from fullscreen or split view, the area occupied by radiant is not closed properly. A black mask/area is left behind in it's old place.  When the dock icon is clicked the old space is refilled by the app.

Recreated by opening radiant -> view Fullscreen -> Cmd w

Can attach images if my description is not clear.

[2016-01-27 22:44] abrammer commented on #490
This might be solved by #481 actually. Didn't see that post before hand.

[2016-01-29 02:57] oojacoboo commented on #489
I've been having this same issue since I downloaded the app.  I found that clicking on the "X" for the app window and holding it down for a sec, then dragging off and releasing while not hovering over the "X", basically just not closing the app, causes the same effect as the resize window hack.

It does really suck you have to do this.

[2016-01-29 05:31] skrodal commented on #454
Am experiencing the same issue - only works on lost focus. Disabling preference for back and forward buttons made no diff for me. Also tried complete uninstall/reinstall.

`Radiant 1.6.2` on `El Cap 10.11.3, MacBook Pro`

[2016-01-29 08:01] S-Seahorse commented on #489
A very odd plot twist, I've noticed that when it freezes like this, the player only refreshes while the mouse is being moved, it stops when the mouse stops.

[2016-01-29 15:06] chrismou commented on #489
@oojacoboo @S-Seahorse @marcelocf @jdcliff

Pre release build is here: https://github.com/chrismou/radiant-player-mac/releases/tag/1.7.0-pre

Would appreciate having a quick test to see if it fixes the issue for you, if you get some time.  Will probably release this weekend, pending any major issues.

[2016-01-29 15:07] chrismou commented on #454
@scarroll825 @skrodal @jmcnevin

Pre release build is here: https://github.com/chrismou/radiant-player-mac/releases/tag/1.7.0-pre

Would appreciate having a quick test to see if it fixes the issue for you, if you get some time.  Will probably release this weekend, pending any major issues.

[2016-01-29 21:30] oojacoboo commented on #489
@chrismou better, but it's still not fixed.  It's fixed initially when you open it up.  However, it still has a tendency to go back to the frozen state after clicking through to something.

[2016-01-29 21:41] chrismou commented on #489
@oojacoboo Is that even with the custom title bar switched off?

[2016-01-29 21:46] chrismou commented on #489
And when you say "clicking through to something" can you describe exactly what you're doing? I've been seeing the freezes for a while, but it only ever happens for me whe I minimise the player then bring it back into focus

[2016-01-29 21:51] oojacoboo commented on #489
Sorry, didn’t know about the need to disable the custom title bar.  It does seem better with that disabled.  I’ll keep testing.  Thanks!

……………………………………………………………..

Jacob Thomason

Ackoo  •  ackoo.com

http://https//rentpost.com
Voice:  478.361.1263

Fax:  866.329.1596

On Fri, Jan 29, 2016 at 4:46 PM Chris Chrisostomou

<
mailto:Chris Chrisostomou <notifications@github.com>

And when you say "cli

[2016-01-30 01:27] SaintGerasim opened #491 "Please make a MS Windows version!"

[2016-01-30 02:24] MarshallOfSound commented on #491
Just going to shamelessly plug my own repo

https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-

Have fun :)

[2016-01-30 15:09] #491 closed

[2016-01-30 15:10] SaintGerasim commented on #491
Thanks: )

[2016-02-01 00:53] skrodal commented on #454
Thanks @chrismou,

Believe I did a complete removal of previous version (1.6.2) and installed your pre-release. Same issue as before.

Please note - version of new linked pre-release still says 1.6.2 (not 1.7.0).

[2016-02-01 10:34] chrismou commented on #454
Thanks for testting @skrodal!  Now worries about the version, our release process sorts all that out. By keeping it at 1.6.2, you can theoretically keep using my test build, and when the official release it pushed it should still update automatically.

[2016-02-02 20:12] dwasyluk opened #493 "White boxes over play bar obscuring now playing"
As of v1.6.2 there are these white boxes in the Radiant Player blocking access to thumbup/thumbdown and generally making it look like an eyesore. If you resize the window, the boxes appear to stack. Haven't found a way to remove them. Mac OSX 10.10.5.
![screen shot 2016-02-02 at 3 11 57 pm](https://cloud.githubusercontent.com/assets/987186/12762867/569b8b1c-c9bf-11e5-9a77-93b5760caad0.png)
![scree

[2016-02-02 20:14] dwasyluk commented on #493
I tried unchecking "Use custom application appearance" and restarted but same issue.

[2016-02-02 20:15] MarshallOfSound commented on #493
It looks like an adobe flash issue.  Is your flash player up to date / installed at all

[2016-02-02 20:18] dwasyluk commented on #493
I do have flash player installed - _You have version 20,0,0,286 installed_ via the Adobe website checker thing. It is the debug player, perhaps that is having an impact?

[2016-02-02 21:04] dwasyluk commented on #493
I agree its flash related (without knowing anything about the code behind this)- right clicking the white square brings up the typical flash player context menu (zoom, about flash player, etc).

[2016-02-02 21:10] MarshallOfSound commented on #493
*When in doubt turn it off and on again*

Try uninstalling flash and reinstalling.

[2016-02-02 23:19] dwasyluk commented on #493
That worked! I uninstalled and reinstalled the same debug player, voila! Thanks for the suggestion :+1:

[2016-02-02 23:19] #493 closed

[2016-02-04 10:55] matthewdias commented on #409
What does everybody think about switching to/adding a notification center widget for the mini player? IMO it makes more sense from a usability and interface perspective.

[2016-02-04 11:05] chrismou commented on #409
@matthewdias Would this just provide users the option to add a widget to their notification centre, separate from the current icon in the menu bar?

If so, I'm certainly not against the idea, as long as it's not removing the current functionality.  To be honest, I'd not even noticed you could customize those widgets until now!  Having a mini player type widget there could be pretty cool.

Feel fre

[2016-02-04 11:09] matthewdias commented on #409
Yes once there is a widget as part of the bundle, users are able to add the widget and move it where they want. Here are some examples: https://i.imgur.com/C8EMbR0.png. I hesitate to assign it to myself, only because I probably don't have the time/ability to do it. Just thought I would suggest it for anyone who might want to give it a look.

[2016-02-04 11:16] chrismou commented on #409
Gotcha. Well feel free to log a separate ticket anyway with that screenshot. I'm a bit busy to tackle something like that myself right now, but perhaps someone will pick it up in the meantime.

[2016-02-04 11:19] matthewdias opened #494 "Add notification center widget"
Basically represent the functionality of the mini player in a NC widget, something like one of these: https://i.imgur.com/C8EMbR0.png.

[2016-02-10 13:28] ryan8382 opened #495 "Block Explicit songs in radio"
I'm running 10.11.3. When I try to check those boxes I see an action but it doesn't check. I had someone else on theirs and same behavior. I do like the design.

[2016-02-10 13:38] ryan8382 opened #496 "Song search box when settings are open"
When you open the settings side bar the song the search box gets small. I would either slide the box over more to allow the search box text to still display or have the box slide over when the sidebar opens. Really like the product.

[2016-02-10 14:18] jacobwgillespie commented on #496
Can you post a screenshot of what you're seeing?

[2016-02-10 14:19] jacobwgillespie commented on #495
@radiant-player/radiant-player-mac - this appears to be another of those "broken in Safari" issues - the checkboxes don't appear to check

[2016-02-10 14:20] chrismou commented on #495
@jacobwgillespie You literally beat me to the reply by seconds ;-)

[2016-02-10 14:23] chrismou commented on #495
I'm not sure what the solution to this, short of pressing ahead with the electron version.  Google claim it's supported in all modern browsers, but that's clearly not the case.  There seems to be a load of really basic stuff broken in Safari, Firefox and IE.

Incidently @ryan8382, Radiant essentially uses Safari behind the scenes, so whenever something appears broken in Safari, it'll almost defini

[2016-02-10 14:42] ryan8382 commented on #496
There were a few more things that i saw. I marked them up also.
![radiant_player_and_asian_exploration_-_noodles___company](https://cloud.githubusercontent.com/assets/10537547/12950303/23063e82-cfd2-11e5-884a-414cde3c2050.png)

[2016-02-10 14:50] jacobwgillespie commented on #496
I see the search bar issue, though that's more on Google's end than Radiant's (since Radiant is just a wrapper for Google's web player).  There may be something we could do to adjust it though.

For the hamburger menu disappearing and the sidebar overlapping, that looks strange and isn't what I'm getting.  What version of Radiant and OSX are you using?

Here's what mine looks like:

![screenshot 2

[2016-02-10 14:55] ryan8382 commented on #496
It may have something to do with moving the window between monitors. I have 3 external monitors connected to my MBP. I am also seeing issues that I can't move the windows back to a different monitor after i have moved it. Restarting the app and normal behavior restores. I am running 1.6.2. Just downloaded today from a friends recommendation.

I am running 10.11.3 and all updated. I have Chrome 48.

[2016-02-10 14:58] jacobwgillespie commented on #496
Interesting - @radiant-player/radiant-player-mac, any of you guys have external monitors you could use to test (I've just got the one iMac screen).

Yeah, you're up to date on OSX and Radiant.  Chrome actually doesn't affect things (Radiant uses a built in copy of the Safari engine that comes with OSX).

[2016-02-10 15:07] chrismou commented on #496
I'm using 2 monitors plus the laptop screen at the office, though tbh I don't think I've ever dragged radiant across more than 2 of the screens.

Can test when I'm back. Though currently recovering from the flu, so doubt it'll be before next week.  I'll check it out then.

[2016-02-10 19:45] chrismou commented on #489
This should essentially be fixed in 1.7.  If you're still experiencing issues, feel free to open another ticket

[2016-02-10 19:45] #489 closed

[2016-02-10 19:45] chrismou commented on #454
So this should essentially be fixed in 1.7.  If you're still experiencing issues, feel free to open another ticket

[2016-02-10 19:45] #454 closed

[2016-02-10 19:47] chrismou commented on #408
The originally reporting issue should essentially be fixed in 1.7.  If you're still experiencing issues, feel free to open another ticket

[2016-02-10 19:47] #408 closed

[2016-02-10 19:47] chrismou commented on #403
This should essentially be fixed in 1.7.  If you're still experiencing issues, feel free to open another ticket

[2016-02-10 19:47] #403 closed

[2016-02-10 19:50] chrismou commented on #495
I'm going to close this issue for now as it's essentially a Google bug.

Hopefully in the future we'll be able to move to a webkit based backend and this won't be an issue, but for now there's no real workaround.

[2016-02-10 19:50] #495 closed

[2016-02-10 20:19] jacobwgillespie opened #500 "1.7.0 failing to update"
Apparently the Sparkle updater checks to validate that the DSA keys in the old and new binaries match (not just the signatures) - this is preventing the 1.7.0 update from extracting.  I'm digging into ways to mitigate now.

[2016-02-10 20:27] jacobwgillespie commented on #500
@radiant-player/radiant-player-mac - can I get your thoughts:

Would it be better to push a modified build as a 1.7.1 signed with the old DSA key that allowed updating without the DSA key match check, followed immediately by a new 1.7.2 release with the new DSA key and stock updater, or should we put a large message in the update release notes for 1.7.0 asking people to manually download from the

[2016-02-10 20:32] chrismou commented on #500
Asking people in the release notes to download/install manually is a bit grim.

How much work do you think this is going to be to fix? Or rather, do you know what's involved in fixing it?  If you think you'll have it licked tonight then the manual download thing isn't so bad as not many people will see it.  If you think this could stretch over several days, then I'm tempted to say go with the 1.7.

[2016-02-10 20:33] jacobwgillespie commented on #500
Yeah, the downside is we'll have a release (1.7.1) that essentially bypasses security checks.  If we're okay with that, I'll get it out the door.

[2016-02-10 20:34] chrismou commented on #500
Oh wait, isn't this just reverting it back to the old signing key?  So have we been bypassing security checks for a while, or is there more to it than that?

[2016-02-10 20:38] jacobwgillespie commented on #500
Yep - so, we have 1.6.2 released in the wild (with a compromised DSA key).  We can't update to 1.7.0 (with the secure DSA key) as the keys don't match.

We can either force people to update manually, or we can create a 1.6.3 transitional release signed with the old DSA key that shortcuts the uploader so that it allows updates without checking DSA keys.  That release will be vulnerable to MITM atta

[2016-02-10 20:43] chrismou commented on #500
OK cool, I'll leave it up to you to make the call. It seems like you know what's involved, so whichever you think's best

[2016-02-10 21:03] jacobwgillespie commented on #500
Okay, just pushed 1.6.3 - after it builds, I'll verify the upgrade path with my copy of 1.6.2, but it appears to work.

[2016-02-10 21:57] jacobwgillespie commented on #500
Sweet, that worked!  :tada:  Hopefully we never have to do that again.  :smile:

[2016-02-10 21:57] #500 closed

[2016-02-10 22:01] chrismou commented on #500
Worked for me :+1:  Good work, crisis averted! :smile:

[2016-02-10 23:42] shawn-mitch commented on #496
FWIW, I just tried this with my 3 monitor setup (2 external, MBP screen). Besides the window jumping bug, I didn't have any issues. The UI looks/works normally, and I can move the window back after moving it to another monitor. My guess is that it's not related to monitor setup.

[2016-02-10 23:46] MarshallOfSound commented on #496
FWIW I tried it with my 3 monitor aswell (2 external and internal screen).  I don't even get the window jumping bug, looks perfectly fine to me.  If I had to guess could be to do with low resolution or high DPI scaling?

[2016-02-11 01:05] hulbert opened #503 "Bundle Flash into application"
I know there's talk about dropping Flash in #409 but that seems like a long-term goal. If possible, other apps I've used (like the old Rdio app) have bundled Flash but still use Safari/Webkit underneath. This removes the need to do a global install of Flash (i.e. I am trying to avoid installing Flash globally on my system).

[2016-02-11 16:24] jacobwgillespie commented on #503
Yeah, that could potentially work...  The number of issues related to using Webkit vs Chrome have been mounting though, so I'd imagine that we will eventually need to move underlying engines (hence https://github.com/radiant-player/radiant-player-electron).  I believe Electron may even bundle Flash itself...

[2016-02-11 17:38] MarshallOfSound commented on #503
@jacobwgillespie Just to confirm, electron does NOT bundle flash.  But it comes with built in MP3 supports and spoofs itself as chrome so the HTML5 player works

[2016-02-14 21:39] jrajav commented on #335
@kbhomes Any chance you can go into a little more detail on how to perform that user agent spoofing and JS workaround? I tried simply setting the user agent to Chrome and I still get "You must install Flash player" on latest Safari in El Capitan.

[2016-02-14 23:06] MarshallOfSound commented on #335
@jrajav It won't just be spoofing the useragent.  If you trace the GPM core js with a debugger you will see it checks for AudioContext functioanlity.

Safari does not yet fully implement the WebAudio API so it will not play the music through HTML5 audio.

See here --> http://caniuse.com/#feat=audio-api

[2016-02-18 12:12] inacionery commented on #267
+1 for this, I would like to have this feature

[2016-02-18 19:05] taip commented on #342
This has recently started happening for me every time I open Radiant. However I've noticed that if I open Google Music in Chrome, play a song, then quit and re-open Radiant, then Radiant is able to play just fine.

I don't have HTML5 Audio turned on, but the switch is disabled for some reason so I can't turn it on.

[2016-02-19 22:39] teddypickerfromul commented on #407
+1 Too big font size is one of the most annoying things in Google Play Music for me. I think that the ability to customise font size via custom css themes, which are already shipped with radiant, will be rather cute feature.

[2016-02-20 19:38] JustinTBrown opened #505 "Fonts Not Loading Correctly"
Typography does not seem to be loading correctly:

![screen shot 2016-02-20 at 12 33 46 pm](https://cloud.githubusercontent.com/assets/1620519/13198758/b0214312-d7ce-11e5-9d45-3d0af488c0b7.png)

I'm using v1.7.1 on OSX 10.10.5

[2016-02-21 04:24] jacobwgillespie commented on #505
Does it do this if you load it up in Safari?  Also, is your system language set to english?

[2016-02-23 00:54] lukemiles commented on #299
+1

[2016-02-24 17:00] apramana opened #506 "Add option to only show notification when using radio"
Notifications are most useful when listening to new songs.

[2016-02-26 15:11] EliasVansteenkiste commented on #3
It would be nice to be able to toggle thumbs up while the radiant player resides in the background.
In the same way as the apple play/pause, next and previous buttons work.

[2016-02-26 18:12] EliasVansteenkiste opened #507 "FR: Toggle thumbs up with radiant in the background"
It would be nice to be able to toggle thumbs up while the radiant player resides in the background.
In the same way as the apple play/pause, next and previous buttons work.

[2016-02-26 18:13] EliasVansteenkiste commented on #507
CMD+J is the shortkey combination for toggling thumbs up.

[2016-02-29 10:28] mili2110 opened #508 "App Switcher (CMD+Tab): Radiant Player doesn't show up!?"
Hi guys,
I got a couple issues...
1. When I am in another app and want jump back to Radiant, Radiant Player doesn't appear in the app switcher (cmd+tab)!?
2. there is no dot under the radiant icon in the dock when radiant player is open :/
3. The options menu is missing for me when i'm in radiant player, the shortcuts work though (cmd+ ,)
Someone got the same issues? I'm on Mac OS 10.11.4 Beta + l

[2016-02-29 10:34] chrismou commented on #508
Hi

I'm not seeing any of the issues you've listed.  That said, I'm on OSX 10.11.3. It's possible that these issues could be from the OSX beta, so it may be worth waiting until 10.11.4 and see if that fixes the issues for you.

Out of interest, did you see any of these problems on 10.11.3? Or did it just start since you installed the beta?

- Chris

[2016-02-29 10:39] mili2110 commented on #508
Hi Chris,
I've been having these issues ever since I've started using radiant player over a year ago. Thats why I thought it must be an app issue... With 1.7.1 at least radiant player shows up in Exposé for me now.

[2016-02-29 22:05] jacobwgillespie commented on #508
I'm on 10.11.3 as well and not experiencing the issue...  If you've been experiencing this for a while, what other software do you have installed?  (especially anything that might affect the dock, window management, or theming)

[2016-03-01 19:13] mili2110 commented on #508
Nothing extraordinary...
I used to use better touch tool for better windows management (split screen windows like windows 7), (https://www.boastr.net/) but have uninstalled it over a year ago since it came with os x 10.11(!?)...:/

[2016-03-04 22:19] JustinTBrown commented on #505
Sorry for delay. The issue is no longer happening actually. For future reference though: by "...load it up in Safari.." do you simply mean for me to point Safari to the Google Play url (play.google.com/music)?

[2016-03-05 00:54] jacobwgillespie commented on #505
Cool, maybe it was a Google issue.  Yep, that's what I meant about Safari - Radiant is essentially just embedded-Safari with some niceties, so it's a good test to know if the issue is on Google's end or ours.

[2016-03-05 13:10] chrismou commented on #487
Originally, the reason behind this was Google's poor support for Safari (which powers Radiant).

I've just spotted that it seems to be letting me create them now, and I've added a few tracks, so I'm guessing Google have resolved the issue at their end.

[2016-03-05 13:10] #487 closed

[2016-03-05 16:00] lynnard opened #510 "Yosemite dark mode mini player 'next/previous song' color wrong"
![screen shot 2016-03-05 at 15 59 40](https://cloud.githubusercontent.com/assets/1991754/13548576/4b30da9e-e2eb-11e5-8f93-0c1a857bc277.png)

[2016-03-05 20:06] JustinTBrown commented on #505
Sounds good. Many thanks :)

[2016-03-05 20:06] #505 closed

[2016-03-07 07:52] chrismou commented on #510
I feel a bit silly asking this, but - what preference are you using to get the dark style mini player?  I use the Dark Cyan theme pretty much exclusively, but I still have the default mini player.

[2016-03-07 09:23] lynnard commented on #510
There is a setting inside System Preference -> General that can turn the entire Mac theme into Dark mode.

By the way, the problem I described seems to have disappeared, so I'm closing it.

[2016-03-07 09:23] #510 closed

[2016-03-07 09:26] chrismou commented on #510
Ah-ha, so it's a system setting. Gotcha.

I have no idea why it fixed itself, but I'm claiming credit anyway. You're welcome :wink:

[2016-03-08 09:15] madsmadsen commented on #507
Thumbs up to this

[2016-03-08 09:45] chrismou commented on #507
:+1: to your thumbs up

[2016-03-08 14:51] tjanson opened #511 "Scrolling via gesture causes severe lags"
Scrolling with the usual two-finger touchpad gesture causes the view to freeze, then jump – sometimes in a few small “stuttering” jumps, never in a fluid motion. This lag often exceeds 1 second, I’d even say it’s often closer to 3 secs.

Here’s the funny part: I wanted to make a screen recording (using QuickTime) to give a clear demonstration, but during the [first recording, the motion was much,

[2016-03-08 14:54] chrismou commented on #511
Do you still see the issue with the custom title bar switched off?

Preferences > Appearance > Untick "use custom title bar" (will require a restart)

[2016-03-08 14:58] tjanson commented on #511
That was already unchecked. I just tried all combinations of the two appearance settings, no change.

Oh, for the record, this is a MacBook Pro (13" late 2013, 2.4 GHz i5, 8 GB Ram) running OS X 10.11.4 Beta.

[2016-03-08 16:00] samhutchins opened #512 "Dark titlebar on dark background looks weird"
![screen shot 2016-03-08 at 15 57 26](https://cloud.githubusercontent.com/assets/13986933/13607114/a374ff48-e546-11e5-9b81-eecb6596ed57.png)

Got a white line across the top

[2016-03-09 21:23] jacobwgillespie commented on #355
Just circling back on this - did you look into this any more?

[2016-03-10 04:59] dantespe opened #513 "Last.fm"
Last.fm is not updated when a song is played multiple times. The first play is recorded, but no others.

[2016-03-10 08:18] chrismou commented on #355
Sort of - we store the currently playing track in a variable, so that when the next song starts it can scrobble the previous song to last.fm.  Hitting the thumbs up just submits whatever's in that those variables.
At the time I was struggling to puzzle out a solution. The problem is because Radiant is just a wrapper and there are multiple places you can thumb up a song, I couldn't think of a gener

[2016-03-10 08:19] chrismou commented on #513
@dantespe How are you trying to achieve this?  Are you just playing the same song on repeat? Or something else?

[2016-03-11 14:42] chrismou commented on #513
OK, so after testing I'm now 99% certain this is down to spam/duplication controls at last.fm's end.  I seem to be able to set the song as now playing, but it won't accept it as a scrobble more than once.

I'm going to close this ticket for now as I believe there's nothing to fix (plus I've tried it on a couple of other players and I'm seeing the same behaviour).  I've dropped a ticket onto the la

[2016-03-11 14:42] #513 closed

[2016-03-12 03:47] ntpeters commented on #511
I'm having the exact same problem on an early 2015 13" Macbook Pro (3.1Ghz, 16GB RAM) running OSX 10.11.3.  I've tried disabling pretty much every special setting in preferences, and still am seeing this.

[2016-03-12 05:23] ntpeters commented on #511
Actually, I just went through every setting one by one again, and I think I've narrowed it down to the "Enable swipe gestures to go back and forward" setting.  After disabling this and restarting Radiant Player, the UI is much more responsive.  I wouldn't say it is perfectly smooth, but it is significantly better than before.

@tjanson do you happen to have this option enabled as well?  Do things

[2016-03-12 15:16] tjanson commented on #511
@ntpeters Yes! That does improve things, thanks! I’ll add that to the issue description.

[2016-03-14 23:04] jamesb303 opened #517 "“Radiant Player” can’t be opened because it is from an unidentified developer."
I'm getting this error after downloading the app and clicking on it from my Downloads folder.

"“Radiant Player” can’t be opened because it is from an unidentified developer.
Your security preferences allow installation of only apps from the Mac App Store and identified developers.
Safari downloaded this file today at 4:55 PM from radiant-player.github.io."

I tried finding the app from the App St

[2016-03-15 01:49] jacobwgillespie commented on #517
Yes, this is expected - we are not signing the app with an Apple developer identity and the app isn't available on the App Store.  To install, you will want to right-click on the application and pick Open.  Then, when it tells you that it is from an unidentified developer, it will give you an option to open anyways.  After you do that once, it will remember and not prompt you again.

[2016-03-15 01:49] #517 closed

[2016-03-15 09:49] chrismou commented on #517
As an alternative to the app store, someone's kindly added Radiant to homebrew.  Assuming you use homebrew, you can install it by running:

`brew cask install radiant-player`

[2016-03-15 19:19] Ecleptic commented on #38
Just came accross the same issue. I tried clicking the link Radiant provided and it went nowhere.  Downloaded it from Safari without any problems and was up and running in 2 minutes.

This is a wonderful app. Thanks and keep it up!

[2016-03-15 19:55] outcast commented on #466
:+1:

[2016-03-15 21:00] outcast commented on #466
Just a new guy here but it looks like nothing has been done with DDHidAppleRemote objects. Now given the current usage of DDHid* stuff. We could possible want to look at ripping out the DDHid* stuff in favor of [MPRemoteCommandCenter](https://developer.apple.com/library/ios/documentation/MediaPlayer/Reference/MPRemoteCommandCenter_Ref/index.html) since that seems to be the prefered method accordin

[2016-03-16 03:48] outcast commented on #466
So MPRemoteCommandCenter is for iOS not OSX. My bad!!! I sure there has to be a similar vehicle for OSX though, but I could very very wrong.

[2016-03-16 05:24] outcast commented on #466
So after reviewing a few things, I am completely barking up the wrong tree. DDHidappleRemotes stuff is not linked to BT controls at all. So not sure on how to contribute on this one. Sorry.

[2016-03-16 06:23] matthewdias opened #518 "doesn't scrobble to last.fm reliably"
Seems to only be picking up like 5% of scrobbles.

[2016-03-16 08:08] chrismou commented on #518
Last.fm were having some API issues last week that affected scrobbling - I was having the exact same issue: https://getsatisfaction.com/lastfm/topics/and-scrobbling-stopped-working-again

You should be able to fix this by deauthorizing the player, then reauthorizing (Preferences > Last.fm > Deauthorize).  You may need to restart the player in between those steps.

Let me know if you're still havin

[2016-03-16 08:08] #518 closed

[2016-03-16 17:59] Rrivera5127 opened #519 "Explicit Album Icon Z-index is higher than search results dropdown"
if you have an album with the explicit content icon underneath the search results dropdown you will see the "E" icon above the search results

Example:
http://imgur.com/RRd4LkG

[2016-03-16 18:34] jacobwgillespie commented on #519
Can you check this on Safari? (i.e. open https://play.google.com/music/listen in Safari and see if it does the same thing)

[2016-03-17 15:28] Rrivera5127 commented on #519
tested Safari 9.0.2 on the same computer and the explicit icon is rendered below the search results.

[2016-03-17 15:47] chrismou commented on #519
Interestingly, the only place we manually set a z-index is in a stylesheet we don't use anymore, so I'm not sure what could be affecting it offhand.

Anyways, fixing this may just be as simple as setting a higher z-index for the `<sj-search-box>` tag. Will need to test it across all the themes.

[2016-03-21 23:15] Rrivera5127 commented on #519
This issue seems to be fixed now, i don't know what changed (i didn't touch anything).

[2016-03-21 23:15] #519 closed

[2016-03-22 08:24] chrismou commented on #519
Hmm, I've not touched it either. And I was definitely seeing the same issue as you.

Put it down to a Google style tweak I guess?  :-/

[2016-03-22 14:44] mtjhax opened #521 "Visualization flickers when scrolling or typing in other applications"
When visualization is enabled, scrolling, moving windows, and sometimes even typing in other apps causes the visualization to flicker or flash. Basically, the visualization disappears momentarily, exposing the underlying song list, then reappears.

Radiant Player 1.7.3
OS X Yosemite 10.10.4 on a Macbook Pro (Mid 2014, 15-inch Retina, 2.2 GHz, 16 GB DDR3)

[2016-03-22 15:19] apramana opened #522 "Holding down space causes repeated play/pause"
It would be more beneficial to only trigger play/pause when the key is released.

[2016-03-22 23:54] jacobwgillespie commented on #522
This behavior is coming from Google's end of things (you can see the same behavior happening in Chrome or Safari).  You may want to send this suggestion to them as feedback - to do so, click the menu icon at the top left, choose Help and Feedback from the menu, then choose Send Feedback (it'll be at the bottom of the help dialog).

[2016-03-22 23:54] #522 closed

[2016-03-22 23:56] jacobwgillespie commented on #521
This is the cover art visualization, right?  Can you see if you can reproduce this in Safari (i.e. open Google Play Music in Safari and see if it happens there).

[2016-03-23 12:17] mtjhax commented on #521
Yes it is the cover art visualization. It does not happen with Google Play Music open in Safari. I thought it might be related to my dual monitor setup but I tested it on a single monitor as well with the same result.

Videos:
https://www.dropbox.com/s/nnhy04o95zlhdtr/radiant%20player.mov?dl=0
https://www.dropbox.com/s/judl426n7gizd2h/google%20play%20music%20in%20safari.mov?dl=0

Obviously not the

[2016-03-24 10:51] Macca-MK opened #523 "Playback controls missing after recent update"
Hi

Not sure if anyone else has had the problem, but since updating to 1.7.3 today, the playback controls are missing in the window. Not sure what happened, and I can still control playback via the media keys on my MacBook, but I can't see the UI buttons for any of the playback controls, including the queue button. The whole toolbar is empty except for the track info and progress bar (on hover)

A

[2016-03-24 10:59] chrismou opened #524 ""Delete song" popup retains light theme style on dark themes"
Probably applies to all popups

![screenshot 2016-03-24 10 58 23](https://cloud.githubusercontent.com/assets/319883/14015224/6aca9caa-f1af-11e5-838c-f86db939726e.png)

[2016-03-24 11:14] MarshallOfSound commented on #524
That robust theming though :+1: :laughing:

I think it's time :+1:
https://github.com/gmusic-utils/gmusic-theme.js

[2016-03-24 11:18] redbullcat commented on #523
Same issue, except the entire UI is kinda messed up for me.
![screen shot 2016-03-24 at 11 16 59](Screenshot)

[2016-03-24 11:18] chrismou commented on #524
![you win this round you cursed sea monster _1201590db2de1a293482ad8808f89ed5](https://cloud.githubusercontent.com/assets/319883/14015604/23311d26-f1b2-11e5-8d82-df72e4cf4643.jpg)

[2016-03-24 12:50] Macca-MK commented on #523
I've just noticed some other UI quirks since your post as well - seems to be a slightly bigger problem than I first thought.

[2016-03-24 13:43] chrismou commented on #523
I'm not seeing this at all, so if you've only just upgraded I wonder if this could be a cache issue.

That said, @redbullcat custom theme enabled, so there shouldn't be any CSS overrides applied to the play bar.

Any info you can provide would be helpful. Also, try opening Google Music in Safari and see if you're seeing the same issue there, try clearing the Safari cache, restart your Mac, etc.  I

[2016-03-24 14:19] louisroy commented on #523
Having the same problem over here.

Google Play Music is also broken on Safari/Yosemite. Clearing the cache and restarting do not solve the problem.

![Screenshot](http://i.imgur.com/BBwlg3Q.png)

Looks like the problem is related to Safari 8.*. I'm guessing Google Play Music has removed all of its -webkit-* vendor prefixes which causes issues with flex boxes everywhere and ultimately breaks the l

[2016-03-24 14:21] chrismou commented on #523
@Macca-MK @redbullcat Are you guys also on Yosemite?

[2016-03-24 15:24] Macca-MK commented on #523
Hi

I'm on Yosemite (on this work MacBook) and el Capitan at home. I can see later today if it's working at home differently to here, so will get back to you on that.

I tried clearing caches in Safari but no joy in Radiant - still same UI bugs. However, in Safari (I'm using Safari 9.1) Play Music is working fine, exactly as you would expect it to and not like @louisroy's screenshot above. (see my

[2016-03-24 21:47] jlp78 commented on #523
On Yosemite.  Just updated because all of a sudden my music stopped playing (but it continued to think it was playing... just flipping through songs in the play list).  Figured I would restart Radiant Player and did so... it prompted me to update, so I thought that was maybe the problem and did so.  Results were that I could play music again, but the play/pause buttons were missing, as well as the

[2016-03-24 21:53] jlp78 commented on #523
![image](https://cloud.githubusercontent.com/assets/2334410/14032392/1d8317aa-f1d8-11e5-9528-368c422d3237.png)
NOTE: I didn't change anything that would have caused the colors to change.  After playing that song, it "played" (with no audio and at about 10 x normal speed) two more songs, then actually started playing the next one (of course, I can't see the playlist, so not entirely sure how many s

[2016-03-24 22:02] jacobwgillespie commented on #523
What does the Appearance settings tab look like?

<img width="397" alt="screenshot 2016-03-24 17 01 03" src="https://cloud.githubusercontent.com/assets/130874/14032622/1fb36ec6-f1e2-11e5-83c5-d5786c2fdfc5.png">

[2016-03-24 22:13] jlp78 commented on #523
Maybe I did change something that caused the colors to change... my appearance tab says Style: Rdiant.  That probably covers the blue vs. orange, but the controls are still missing.  I just tried updating Adobe Flash to version 21a (the latest from adobe) and that didn't help, either.

[2016-03-24 22:16] jlp78 commented on #523
Yep, changed style back to "Google" and the orange bar is back.  Funny that I don't remember changing that, but I must have flipped it while looking through the settings.  Sorry about the false alarm on that one.  Now I just need to get the playback controls and playlist popup back.

[2016-03-24 22:23] jacobwgillespie commented on #523
Can you post a screenshot of the window now (with the default style)?  I'm curious if anything else is off.

[2016-03-24 22:29] jlp78 commented on #523
![image](https://cloud.githubusercontent.com/assets/2334410/14033105/3f47ece4-f1dd-11e5-8765-8d3c22903ebc.png)

FYI, I've also tried removing Library/Preferences/com.sajidanwar.Radiant-Player.plist, Library/Caches/com.sajidanwar.Radiant-Player, and Library/Application Support/Radiant Player, just to make sure I was starting with a clean slate.

Oddly enough, while I had to re-login with Google, La

[2016-03-24 22:36] jacobwgillespie commented on #523
Yeah, it still looks broken in other ways too - can you try opening Google Play Music in Safari and see if you experience the same issue?  You might also try clearing your Safari cache.

[2016-03-25 14:31] Macca-MK commented on #523
Just checked on my home machine (running El Capitan) and have no problems at all - everything about the UI seems correct and Playback controls appear and work fine.

Assuming a Yosemite issue then?

[2016-03-25 17:25] paul-turner commented on #523
Safari seems to be laying things out fine:
![screen shot 2016-03-25 at 1 23 22 pm](https://cloud.githubusercontent.com/assets/1944943/14049621/d4f0d616-f28c-11e5-89fd-5cbf4206421c.png)
Vs radiant player:
![screen shot 2016-03-25 at 1 23 32 pm](https://cloud.githubusercontent.com/assets/1944943/14049634/df14f5dc-f28c-11e5-8180-f8cac749563e.png)

Yosemite 10.10.5 here with Safari Version 9.0.3 (1060

[2016-03-25 17:42] jlp78 commented on #523
Yes, it looks good in Safari for me, too.  Yoseite 10.10.5 here, also.  Safari 9.1 (10601.5.17.4).

Radiant Player is still messed up.  RP version 1.7.3.

[2016-03-25 18:00] chrismou commented on #523
I did notice yesterday that our build target is OSX 10.8.  Could be that that's determining which version of Safari is uses to render, but I'm just speculating.  I'll have a dig around this weekend.

[2016-03-25 18:10] jacobwgillespie commented on #523
People who are experiencing a broken interface, can you download this custom build, then right-click on a blank part of the page, choose Inspect Element, then choose the Console tab and screenshot that?  Depending on the amount of items logged in the console, you may have to take multiple screenshots.  It's best if you do this after reloading the app (either just after starting it or with CMD-Shif

[2016-03-25 19:00] paul-turner commented on #523
Here ya go:
<img width="1548" alt="screen shot 2016-03-25 at 2 59 32 pm" src="https://cloud.githubusercontent.com/assets/1944943/14051546/3f2a8e16-f29a-11e5-9713-194b2a37704f.png">

[2016-03-25 19:07] gravyplaya opened #525 "Won't work without Flash. Make an HTML5 version."
Please make a version that uses HTML5 and NOT FLASH.. Flash is no longer supported on Mac systems. New machine and I dont want to install flash just to use this app.

[2016-03-25 19:15] chrismou commented on #525
Radiant Player uses Safari in the background to render, and unfortunately Google Music doesn't yet support HTML5 on Safari.

[2016-03-25 19:15] #525 closed

[2016-03-25 19:17] jlp78 commented on #523
Here's mine:

![image](https://cloud.githubusercontent.com/assets/2334410/14051912/cd0e14f0-f28b-11e5-98d6-42a4dc8ace1c.png)
![image](https://cloud.githubusercontent.com/assets/2334410/14051927/e7050918-f28b-11e5-971c-90e674415e21.png)

[2016-03-25 19:40] gravyplaya commented on #525
It does if you select HTML5 in the music player preferences.

[2016-03-25 19:43] chrismou commented on #525
It's greyed out - it won't let me enable it. I'm not sure if Google just hasn't enabled it for Safari, or if Safari just doesn't yet support it.  I think it's the latter.

<img width="1264" alt="screenshot 2016-03-25 19 41 07" src="https://cloud.githubusercontent.com/assets/319883/14052368/a7871160-f2c1-11e5-810c-699d13aa0b2e.png">

[2016-03-25 19:47] chrismou commented on #525
If you're able to enable it, could you send me a screenshot of your settings page with it enabled and let me know what version of Safari and OSX you're running?

[2016-03-25 20:51] jacobwgillespie commented on #523
Thanks for those - @jlp78, yours appears "normal" (same as mine), @paul-turner, yours has one interesting failure on the line here: https://github.com/radiant-player/radiant-player-mac/blob/cb308b9c43982cf23507cb7faa5246fdb243632a/radiant-player-mac/js/navigation.js#L70.  However as best as I can tell it's just failing because the navbar isn't there, which we already knew.

I don't think it's dire

[2016-03-26 14:15] jacobwgillespie commented on #523
There's a new version 1.7.4 - I don't think it will fix this issue here, but it wouldn't hurt to update and let me know if anything changes.

[2016-03-27 03:03] jlp78 commented on #523
1.7.4 does not fix the problem for me.

[2016-03-27 07:05] jacobwgillespie commented on #409
So, just throwing this out there, but I'm starting to wonder if our Radiant 2.0 should be [radiant-player-electron](https://github.com/radiant-player/radiant-player-electron) (we can even auto-update people to that build once it's ready).  With the growing number of issues related to rendering differences between OSX/WebKit versions, the Google bugs in Safari, and the all-around poor performance,

[2016-03-28 19:18] helgammal opened #527 "UI is jumbled on OS X 10.9.5"
Note the absence of the player buttons [Screenshot1] and the search box overlapped with the header [Screenshot2].
Current Radiant Player version: 1.7.4.
OS X version : 10.9.5.
![screenshot1](https://cloud.githubusercontent.com/assets/7671960/14087479/13f0b026-f4df-11e5-8b97-4f53aac9623c.png)
![screenshot2](https://cloud.githubusercontent.com/assets/7671960/14087480/13f0da88-f4df-11e5-85a4-cbe190cb

[2016-03-28 19:22] helgammal commented on #527
Addressed by #523. Closing.

[2016-03-28 19:22] #527 closed

[2016-03-28 22:04] BarakaAka1Only commented on #523
Okay so with the debugging (I enabled dev tools in safari) with the stylesheet listenstyles.css for every ~flex:~ item it was getting ignored
<img src="http://i.imgur.com/EmzFyRK.png" />
so i extracted that stylesheet and changed everything with adding -webkit to it from there i pasted in the changes and it worked everything is fixed that way with -webkit added not sure why it's getting ignored

b

[2016-03-28 22:40] dstockto commented on #523
The suggestion above that @BarakaAka1Only posted worked for me. Without it, all the listen now stations just had a background but nothing playable. I could hover over blank areas of the screen and get a couple of play buttons to show up on hover.

My screenshot before the fix above with 1.7.4:

![image](https://cloud.githubusercontent.com/assets/775393/14092404/cc89dd8c-f503-11e5-978f-ce569a7ec054

[2016-03-28 22:53] waldo1979 opened #528 "Keyboard shortcuts and Key Rate Issue"
I've turned up my Macbook pro's keyboard rate using the following script:
defaults write -g InitialKeyRepeat -int 13
defaults write -g KeyRepeat -int 2

Why? Because slow keyboards suck.

Because of this the keyboard shortcuts within Radiant Player (and Radiant Player alone) don't work as intended. For example, the space key when pressed pauses and then immediately un-pauses.

Keyboard shortcuts o

[2016-03-28 23:06] jacobwgillespie commented on #528
So, as mentioned in #522, that keyboard shortcut is actually coming from the underlying Google Play Music code, not Radiant itself (you can replicate this by opening GPM in a browser).  There might be something we could do - I'll leave this issue up for now - but in general that's not something we're able to control.

[2016-03-28 23:19] BarakaAka1Only commented on #523
Great to hear that it worked for you @dstockto

@ the devs i remade the css with only the areas where flex was added so it won't "overload" / interfere with styles, in short this is a flex only css sheet that adds -webkit rules to the selectors that it is needed only :)

https://www.dropbox.com/s/n3pbl1r8dwurf2p/google-baraka-flexonly.css?dl=0

[2016-03-28 23:37] jacobwgillespie commented on #523
@BarakaAka1Only awesome, thanks for that debugging!  I've submitted PR #529 to resolve this issue and as soon as it's reviewed I'll push out a new version.

[2016-03-28 23:39] BarakaAka1Only commented on #523
Not a problem, i had to fix one z-index issue on the sidebar i updated my css and the link above sorry about that.

[2016-03-29 15:50] ianoroceo opened #530 "Controls not showing up and some UI issues"
Radiant Player Version: 1.7.4
OS Version: Mac OS X Yosemite 10.10.5

Please see screenshot below.
Issues
1. Controls are not showing up on the bottom
2. Headers (Search and accounts icon/controls)
3. Recent Activity Tiles are overlapping over the See All button for Recent Activity

![fullscreen_3_29_16__8_48_am](https://cloud.githubusercontent.com/assets/15149237/14114239/1cf9eb90-f58b-11e5-88d4-a